<template>
    <FormLogin></FormLogin>
</template>
<script>
    import FormLogin from './components/FormLogin.vue';
export default {
    name: "Login",
    layout: "LoginLayout",
    components: {
        FormLogin
    }
}
</script>
<style>
    
</style>