<template >
    <div>
        <Title :title="title"></Title>
        <b-embed class="w-75 h-75" type="iframe" aspect="16by9" src="https://www.youtube.com/embed/knW7-x7Y7RE?rel=0" allowfullscreen>
        </b-embed>
    </div>
</template>
<script>
import Title from '~/components/Title.vue';
export default {
    data(){
        return{
            title: "Settings"
        }
    },
    components: { Title }
}
</script>
<style lang="">
    
</style>