<template>
  <div
    class="
      app-footer
      d-flex
      align-items-center
      justify-content-between
      pl-3
      pr-3
    "
  >
    <div>
      <fa icon="copyright" />
      <span>2022</span>
      <a href="https://devfast.us/vi.html#">Devfast</a>
    </div>
    <div>
      <span>Powered By </span>
      <a href="https://devfast.us/vi.html#">Devfast</a>
      <span> Company</span>
    </div>
  </div>
</template>
<script>
export default {
  name: "AppFooter",
};
</script>
<style>
.app-footer {
  height: 60px;
  border-top: 1px #dbdbdb solid;
}
</style>
