<template>
  <div class="app-header d-flex align-items-center justify-content-end">
    <div class="admin  h-100 d-flex align-items-center justify-content-center position-relative" @click="onAdmin">
      <div class="btn">
        <div class="d-inline-block font-weight-bold">Hello Admin!</div>
        <b-avatar class="mr-2 ml-2" variant="info" src="~/assets/img/devfast-logo.png"></b-avatar>
        <fa class="mr-2" icon="caret-down" />
      </div>

      <div v-if="show" class="admin-dropdown position-absolute w-100">
        <div @click="onSetting" class="btn d-flex align-items-center justify-content-start font-weight-bold">
          Settings
          <fa class="pl-2" icon="gear" />
        </div>
        <div @click="onLogOut" class="btn d-flex align-items-center justify-content-start font-weight-bold">
          Log Out
          <fa class="pl-2" icon="right-from-bracket" />
        </div>
      </div>
    </div>

  </div>
</template>
<script>
export default {
  data() {
    return {
      show: false
    }
  },
  methods: {
    onAdmin() {
      this.show = !this.show
    },
    onSetting() {
      this.$router.push('/settings')
    },
    onLogOut() {
      this.$bvModal.msgBoxConfirm('Do You Want To Log Out?', {
        title: "Log Out",
        size: 'md',
        buttonSize: 'md',
        okVariant: 'danger',
        okTitle: 'YES',
        cancelTitle: 'NO',
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true
      }).then(value => {
        if (value) this.logOut()
      })
    },
    logOut() {
      localStorage.clear();
      this.$router.push('/login');
    }
  }
};
</script>
<style>
.app-header {
  height: 60px;
  border-bottom: 1px #dbdbdb solid;
}

.app-header span {
  font-weight: 600;
}

.app-header .btn:hover {
  background-color: #f4f4f4;
}

.admin:hover .admin-dropdown {
  background-color: #fafafa;
}

.admin-dropdown {
  top: 59px;
  right: 0;
  display: block;
  z-index: 1000;
  position: absolute;
  background-color: #fff;
  box-shadow: 10px 10px 10px #acafb3;
  box-sizing: content-box;
}

.admin-dropdown div {
  height: 40px;
  border-top: 1px solid #dfdfdf;
  border-radius: 0 0 2px 2px;
}

.admin-dropdown div:hover {
  background-color: rgba(175, 175, 175, 0.5);
  color: #000;

}
</style>
