<template>
  <div class="app-menu" style="">
    <div class="
        app-menu-top
        d-flex
        align-items-center
        justify-content-around
        pl-3
        pr-3
      " @click="toHome" :active="active == 'home'">
      <img class="w-25 h-auto" src="~/assets/img/devfast-logo.png" alt="Logo Devfast" />
      <span class="text-primary font-weight-bold">Review Subjects</span>
    </div>
    <div class="app-menu-body">
      <b-nav pills vertical class="app-menu-body-home mb-3">
        <b-nav-item @click="toHome" :active="active == 'home'">
          <fa icon="house" class="mr-2" />
          <span>Home</span>
        </b-nav-item>
      </b-nav>
      <div class="app-menu-body-module mb-3">
        <div class="title-module pl-3 font-weight-bold text-primary mb-1">
          MODULE
        </div>
        <b-nav vertical pills>
          <b-nav-item @click="toUsers" :active="active == 'users'">
            <fa icon="user" class="mr-2" />
            <span>Users</span>
          </b-nav-item>
          <b-nav-item @click="toPosts" :active="active == 'posts'">
            <fa icon="newspaper" class="mr-2" />
            <span>Posts</span>
          </b-nav-item>
          <b-nav-item @click="toComments" :active="active == 'comments'">
            <fa icon="comments" class="mr-2" />
            <span>Comments</span>
          </b-nav-item>
          <b-nav-item @click="toUniversities" :active="active == 'universities'">
            <fa icon="building-columns" class="mr-2" />
            <span>Universities</span>
          </b-nav-item>
          <b-nav-item @click="toFaculties" :active="active == 'faculties'">
            <fa icon="graduation-cap" class="mr-2" />
            <span>Faculties</span>
          </b-nav-item>
        </b-nav>
      </div>
      <div class="app-menu-body-module">
        <div class="title-module pl-3 font-weight-bold text-primary mb-1">
          SYSTEM
        </div>
        <b-nav vertical class="" pills>
          <b-nav-item @click="toAdmins" :active="active == 'admins'">
            <fa icon="user-gear" class="mr-2" />
            <span>Admins</span>
          </b-nav-item>
          <b-nav-item @click="toSettings" :active="active == 'settings'">
            <fa icon="gear" class="mr-2" />
            <span>Settings</span>
          </b-nav-item>
        </b-nav>
      </div>
    </div>
  </div>
</template>
<script>
import EventBus from '~/assets/js/EventBus'

export default {
  name: "AppMenu",
  data() {
    return {
      active: "home",
    };
  },
  created() {
    //EventBus.$on('changeLink', this.checkLink)
    this.checkLink()
  },
  watch: {
    '$route': {
      handler() {
        console.log(this.$route)
        this.checkLink()
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    checkLink() {
      console.log("appmenu")
      this.active = this.$route.fullPath;
      if (this.active == '/') {
        this.active = "home"
        return
      }
      let start = 1
      let end = 0
      if (this.active.indexOf('/', 1) == -1 && this.active.indexOf('?', 1) == -1) this.active = this.active.substring(start)
      else if (this.active.indexOf('/', 1) != -1 && this.active.indexOf('?', 1) == -1) {
        end = this.active.indexOf('/', 1)
        this.active = this.active.substring(start, end)
      } else if (this.active.indexOf('/', 1) == -1 && this.active.indexOf('?', 1) != -1) {
        end = this.active.indexOf('?', 1)
        this.active = this.active.substring(start, end)
      }
    },
    toUsers() {
      this.$router.push("/users");
      this.active = "users";
    },
    toPosts() {
      this.$router.push("/posts");
      this.active = "posts";
    },
    toComments() {
      this.$router.push("/comments");
      this.active = "comments";
    },
    toUniversities() {
      this.$router.push("/universities");
      this.active = "universities";
    },
    toFaculties() {
      this.$router.push("/faculties");
      this.active = "faculties";
    },
    toHome() {
      this.$router.push("/");
      this.active = "home";
    },
    toAdmins() {
      this.$router.push("/admins");
      this.active = "admins";
    },
    toSettings() {
      this.$router.push("/settings");
      this.active = "settings";
    },
  },
};
</script>
<style>
.app-menu {
  min-height: 100vh;
}

.app-menu-top {
  height: 60px;
  border-bottom: 1px #dbdbdb solid;
  cursor: pointer;
}

.app-menu-top:hover {
  background-color: #ececec;
}

.app-menu-body-home {
  height: 50px;
}

.app-menu-body .nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  height: 50px;
  border-radius: 0;
}

.app-menu-body .nav-link:hover {
  background-color: #1a88ff;
  color: #fff;
}
</style>

