<template>
    <div class="title text-primary bg-white d-flex align-items-center">
        <div class="pl-4 font-weight-bold">{{ title }}</div>
    </div>
</template>
<script>
export default {
  name: "Title",
  props: ["title"],
};
</script>
<style>
.title {
  height: 50px;
}
</style>