<template>
  <div>
    <Title :title="title"></Title>
    <div class="pl-4 mt-3 pr-4">
      <FormSearchUsers :keySearch="keySearch" @on-Search="GetUsers"></FormSearchUsers>
      <TableUsers :itemsUser="itemsUser" @delete="showMessageDelete" @enable="showMessageEnable"
        @disable="showMessageDisable" class="mt-3"></TableUsers>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Title from '~/components/Title.vue'
import { dataMixins } from '~/assets/js/main.js'
import FormSearchUsers from './components/FormSearchUsers.vue'
import TableUsers from './components/TableUsers.vue'

export default {
  mixins: [dataMixins],
  data() {
    return {
      title: "Users",
      keySearch: {
        status: 0,
        universityId: 0,
        facultyId: 0,
        fullname: "",
      },
      itemsUser: [],
    }
  },
  components: {
    Title,
    FormSearchUsers,
    TableUsers
  },
  created() {
    this.GetUsers()
  },
  methods: {
    showMessageEnable(e) {
      this.$bvToast.toast('Enable User Successfully', {
        toaster: 'b-toaster-bottom-right',
        title: "Notification",
        variant: "success",
        solid: true,
        autoHideDelay: 3000
      })
      this.GetUsers()
    },
    showMessageDisable(e) {
      this.$bvToast.toast('Disable User Successfully', {
        toaster: 'b-toaster-bottom-right',
        title: "Notification",
        variant: "danger",
        solid: true,
        autoHideDelay: 3000
      })
      this.GetUsers()
    },
    showMessageDelete(e) {
      this.$bvToast.toast('Delete User Successfully', {
        toaster: 'b-toaster-bottom-right',
        title: "Notification",
        variant: "danger",
        solid: true,
        autoHideDelay: 3000
      })
      this.GetUsers()
    },
    GetUsers() {
      axios.get(`${this.linkApi}api/Admin/SearchUser?status=${this.keySearch.status}&universityId=${this.keySearch.universityId}&facultyId=${this.keySearch.facultyId}&fullName=${this.keySearch.fullname}`,
        { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } })
        .then(res => {
          this.itemsUser = []
          res.data.forEach(u => {
            this.itemsUser.push({
              id: u.user.id,
              avatar: u.user.avatar,
              userName: u.user.userName,
              userFullname: u.user.fullname,
              university: u.universityName,
              faculty: u.facultyName,
              point: u.user.point,
              posts: u.countPost,
              active: { status: u.user.status, id: u.user.id },
              action: u
            })
          })
        })
    }
  }
}
</script>
<style>

</style>