<template>
    <div class="pl-4 pt-4 pr-4">
        <FormEditFaculty class=""></FormEditFaculty>
    </div>
</template>
<script>
import FormEditFaculty from './components/FormEditFaculty.vue';
export default {
    components: { FormEditFaculty }
}
</script>
<style>
    
</style>