<template>
    <div class="pl-4 pt-4 pr-4">
        <FormCreateFaculty class=""></FormCreateFaculty>
    </div>
</template>
<script>
import FormCreateFaculty from './components/FormCreateFaculty.vue';
export default {
    components: { FormCreateFaculty }
}
</script>
<style>
    
</style>