<template>
  <div>
    <Title :title="title"></Title>
    <div class="pl-4 mt-3 pr-4">
      <FormSearchFaculties :keySearch="keySearch" @on-Search="GetFaculties"></FormSearchFaculties>
      <TableFaculties :itemsFaculty="itemsFaculty" @enable="showMessageEnable" @disable="showMessageDisable"
        @delete="showMessageDelete" class="mt-3"></TableFaculties>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Title from '~/components/Title.vue'
import FormSearchFaculties from './components/FormSearchFaculties.vue'
import TableFaculties from './components/TableFaculties.vue'
import { dataMixins } from '~/assets/js/main.js'
import FacultyEventBus from '~/pages/faculties/js/FacultyEventBus'
import EventBus from '~/assets/js/EventBus'

export default {
  mixins: [dataMixins],
  data() {
    return {
      title: "Faculties",
      keySearch: {
        status: 0,
        universityId: 0,
        faculty: ""
      },
      itemsFaculty: [],
    }
  },
  components: {
    Title,
    FormSearchFaculties,
    TableFaculties
  },
  created() {
    if(this.$route.query.university) this.keySearch.universityId = this.$route.query.university

    this.GetFaculties()
    FacultyEventBus.$once('deleteSuccess', this.showMessageDelete)
    FacultyEventBus.$once('submitSuccess', this.showMessageSubmit)

  },
  methods: {
    showMessageEnable(e){
      this.$bvToast.toast('Enable Faculty Successfully', {
        toaster: 'b-toaster-bottom-right',
        title: "Notification",
        variant: "success",
        solid: true,
        autoHideDelay: 3000
      })
      this.GetFaculties()
    },
    showMessageDisable(e){
      this.$bvToast.toast('Disable Faculty Successfully', {
        toaster: 'b-toaster-bottom-right',
        title: "Notification",
        variant: "danger",
        solid: true,
        autoHideDelay: 3000
      })
      this.GetFaculties()
    },
    showMessageDelete(e) {
      this.$bvToast.toast('Delete Faculty Successfully', {
        toaster: 'b-toaster-bottom-right',
        title: "Notification",
        variant: "danger",
        solid: true,
        autoHideDelay: 3000
      })
      this.GetFaculties()
    },
    showMessageSubmit(e) {
      this.$bvToast.toast('Create Faculty Successfully', {
        toaster: 'b-toaster-bottom-right',
        title: "Notification",
        variant: "success",
        solid: true,
        autoHideDelay: 3000
      })
    },
    GetFaculties() {
      axios.get(`${this.linkApi}api/Admin/SearchFaculty?status=${this.keySearch.status}&universityId=${this.keySearch.universityId}&faculty=${this.keySearch.faculty}`,
        { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
          this.itemsFaculty = []
          res.data.forEach(f => {
            this.itemsFaculty.push({
              id: f.faculty.id,
              name: f.faculty.name,
              university: {name: f.universityName, avatar: f.universityAvatar} ,
              posts: f.postCount,
              users: f.userCount,
              active: {status: f.faculty.status, id: f.faculty.id },
              action: f
            })
          })
        })
    }
  }
}

</script>
<style>

</style>