<template>
    <div class="pl-4 pt-4 pr-4">
        <FormCreateAndEditAdmin class=""></FormCreateAndEditAdmin>
    </div>
</template>
<script>
import FormCreateAndEditAdmin from './components/FormCreateAndEditAdmin.vue';
export default {
    components: { FormCreateAndEditAdmin }
}
</script>
<style>

</style>