<template>
  <div>
      <Title :title="title"></Title>
      <div class="pl-4 mt-3 pr-4">
          <FormSearchAdmins :keySearch="keySearch" @on-Search="GetAdmins"></FormSearchAdmins>
          <TableAdmins :itemsAdmin="itemsAdmin" @delete="showMessageDelete" class="mt-3"></TableAdmins>
      </div>
  </div>
</template>
<script>
import axios from 'axios'
import Title from '~/components/Title.vue'
import { dataMixins } from '~/assets/js/main.js'
import FormSearchAdmins from './components/FormSearchAdmins.vue'
import TableAdmins from './components/TableAdmins.vue'
import AdminEventBus from '~/pages/admins/js/AdminEventBus'
export default {
  mixins: [dataMixins],
  data() {
      return {
          title: "Admins",
          keySearch: {
              admin: ""
          },
          itemsAdmin: [],
      }
  },
  components: {
    Title,
    FormSearchAdmins,
    TableAdmins
},
  created() {
      this.GetAdmins()
      AdminEventBus.$once('submitSuccess', this.showMessageSubmit)
  },
  methods: {
      showMessageDelete(e) {
          this.$bvToast.toast('Delete Admin Successfully', {
              toaster: 'b-toaster-bottom-right',
              title: "Notification",
              variant: "danger",
              solid: true,
              autoHideDelay: 3000
          })
          this.GetAdmins()
      },
      showMessageSubmit(){
        this.$bvToast.toast('Create Admin Successfully', {
              toaster: 'b-toaster-bottom-right',
              title: "Notification",
              variant: "success",
              solid: true,
              autoHideDelay: 3000
          })
      },
      GetAdmins() {
          axios.get(`${this.linkApi}api/Admin/SearchAdmin?key=${this.keySearch.admin}`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } })
              .then(res => {
                  this.itemsAdmin = []
                  this.show = []
                  res.data.forEach(a => {
                      this.itemsAdmin.push({
                          id: a.id,
                          name: a.userName,
                          password: {password: a.password, id: a.id, show: false},
                          action: a.id
                      })
                  })
              })
      }
  }
}
</script>
<style>

</style>