<template>
  <div class="form-search-comments">
    <label for="status">Status :</label>
    <b-form-group class="d-inline-block ml-3" v-slot="{ ariaDescribedby }">
      <b-form-radio-group
        id="status"
        @change="onChangeStatus"
        v-model="keySearch.status"
        :options="optionsStatus"
        :aria-describedby="ariaDescribedby"
        name="status"
      ></b-form-radio-group>
    </b-form-group>
    <b-form>
      <div class="mt-2 row">
        <b-form-group
          label-for="userId"
          class="d-inline-block col-4"
          description="Search User ID."
        >
          <b-input-group class="w-100">
            <b-input-group-prepend is-text>
              <fa icon="user" />
            </b-input-group-prepend>
            <b-form-input
              id="userId"
              min="0"
              type="number"
              v-model="keySearch.userId"
              placeholder="User ID"
            />
          </b-input-group>
        </b-form-group>

        <b-form-group
          label-for="postId"
          class="ml-4 d-inline-block col-4"
          description="Search Post ID."
        >
          <b-input-group class="w-100">
            <b-input-group-prepend is-text>
              <fa icon="newspaper" />
            </b-input-group-prepend>
            <b-form-input
              id="postId"
              min="0"
              type="number"
              v-model="keySearch.postId"
              placeholder="Post ID"
            />
          </b-input-group>
        </b-form-group>
      </div>
      <div class="mt-2 row">
        <b-form-group
          label-for="comment"
          class="d-inline-block col-4"
          description="Search Comment."
        >
          <b-input-group class="w-100">
            <b-input-group-prepend is-text>
              <fa icon="comments" />
            </b-input-group-prepend>
            <b-form-input
              id="comment"
              v-model="keySearch.comment"
              placeholder="Comment"
            />
          </b-input-group>
        </b-form-group>

        <b-form-group class="d-inline-block align-top col" description=" ">
          <b-button
            @click="onSearch"
            variant="primary"
            class="ml-4 d-inline-block pl-4 pr-4"
          >
            <fa icon="magnifying-glass" /> Search
          </b-button>
          <b-button
            variant="outline-primary"
            type="reset"
            @click="onClear"
            class="ml-3 d-inline-block pl-3 pr-3"
          >
            <fa icon="eraser" /> Clear
          </b-button>
        </b-form-group>
      </div>
    </b-form>
  </div>
</template>
<script>
import axios from "axios";
import { dataMixins } from "~/assets/js/main.js";
export default {
  mixins: [dataMixins],
  props: ["keySearch"],
  data() {
    return {
      optionsStatus: [
        { text: "All", value: 0 },
        { text: "Active", value: 1 },
        { text: "Inactive", value: 2 },
      ],
    };
  },
  created() {},
  methods: {
    onClear() {
      this.keySearch.postId = 0;
      this.keySearch.userId = 0;
      this.keySearch.comment = "";
    },
    onChangeStatus() {
      this.onSearch();
    },
    onSearch() {
      this.$emit("on-Search");
    },
  },
};
</script>
<style>
.form-search-comments .input-group {
  width: 20rem;
}
</style>