<template>
  <div class="table-comments">
    <span>Totals: {{ itemsComment.length }} comments.</span>
    <b-table
      id="table-comments"
      class="mt-2"
      bordered
      striped
      hover
      sticky-header
      :items="itemsComment"
      :fields="fieldsComments"
    >
      <template #cell(id)="data">
        <div class="font-weight-bold">{{ data.value }}</div>
      </template>
      <template #cell(user)="data">
        <div class="d-flex align-items-center" @click="showUser(data.value.id)">
          <b-avatar :src="linkApi + data.value.avtar" size="2rem"></b-avatar>
          <span class="text-primary ml-2" id="userInfo-btn">
            {{ data.value.name }}
          </span>
        </div>
      </template>
      <template #cell(post)="data">
        <div class="d-flex align-items-center">
          <span
            class="text-primary"
            id="postInfo-btn"
            @click="showPost(data.value.id)"
            >{{ data.value.subject }}</span
          >
        </div>
      </template>
      <template #cell(content)="data">
        <div
          style="text-overflow: ellipsis; overflow: hidden"
          class="d-flex align-items-center w-100"
        >
          {{
            data.value.length > 200
              ? data.value.substring(0, 200)
              : data.value + "..."
          }}
        </div>
      </template>
      <template #cell(active)="data">
        <div id="active" style="font-size: 1.2rem" class="text-center">
          <fa
            v-if="data.value.status == 1"
            @click="onDisable(data.value.id)"
            class="text-success"
            icon="circle-check"
          />
          <fa
            v-if="data.value.status != 1"
            @click="onEnable(data.value.id)"
            class="text-danger"
            icon="circle-xmark"
          />
        </div>
      </template>
      <template #cell(action)="data">
        <div id="action" class="text-center" style="font-size: 1.2rem">
          <fa
            class="text-primary"
            @click="showComment(data.value)"
            icon="circle-info"
          />
          <!-- <fa class="text-danger" @click="onDelete(data.value.comment.id)" icon="trash-can" /> -->
        </div>
      </template>
    </b-table>

    <b-modal
      id="userInfo"
      header-bg-variant="info"
      header-text-variant="light"
      size="lg"
      centered
      hide-footer
    >
      <template #modal-title> User Info </template>
      <div class="row container">
        <div
          class="w-100 col-4 d-flex align-items-center justify-content-center"
        >
          <b-avatar
            :src="linkApi + userInfo.avatar"
            style="box-shadow: 0.2rem 0.2rem 1rem 0.5rem #cbcbcb"
            size="13rem"
          >
          </b-avatar>
        </div>
        <div class="col">
          <div class="row container w-100">
            <label class="col-4 font-weight-bold">ID:</label>
            <span class="col">{{ userInfo.id }}</span>
          </div>
          <div class="row container w-100">
            <label class="col-4 font-weight-bold">Active:</label>
            <div class="col">
              <fa
                v-if="userInfo.status == 1"
                class="text-success"
                icon="circle-check"
              />
              <fa
                v-if="userInfo.status == 2"
                class="text-danger"
                icon="circle-xmark"
              />
            </div>
          </div>
          <div class="row container w-100">
            <label class="col-4 font-weight-bold">User Name:</label>
            <span class="col">{{ userInfo.username }}</span>
          </div>
          <div class="row container w-100">
            <label class="col-4 font-weight-bold">Fullname:</label>
            <span class="col">{{ userInfo.fullname }}</span>
          </div>
          <div class="row container w-100">
            <label class="col-4 font-weight-bold">Email:</label>
            <span class="col">{{ userInfo.email }}</span>
          </div>
          <div class="row container w-100">
            <label class="col-4 font-weight-bold">University:</label>
            <span class="col">{{ userInfo.university }}</span>
          </div>
          <div class="row container w-100">
            <label class="col-4 font-weight-bold">Faculty:</label>
            <span class="col">{{ userInfo.faculty }}</span>
          </div>
          <div class="row container w-100">
            <label class="col-4 font-weight-bold">Major:</label>
            <span class="col">{{ userInfo.major }}</span>
          </div>
          <div class="row container w-100">
            <label class="col-4 font-weight-bold">Posts:</label>
            <span class="col">{{ userInfo.posts }}</span>
          </div>
          <div class="row container w-100">
            <label class="col-4 font-weight-bold">Point:</label>
            <span class="col">{{ userInfo.point }}</span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center w-100">
        <b-button
          variant="danger"
          class="mt-4 w-50"
          block
          @click="$bvModal.hide('userInfo')"
          >Close</b-button
        >
      </div>
    </b-modal>

    <b-modal
      id="postInfo"
      header-bg-variant="primary"
      header-text-variant="light"
      size="lg"
      centered
      hide-footer
    >
      <template #modal-title> Post Info </template>
      <div v-if="postInfo.images != ''" class="row container pr-0 pl-3 mb-4">
        <b-carousel
          class="col-12"
          :interval="4000"
          controls
          indicators
          img-height="100"
        >
          <b-carousel-slide
            style="max-height: 350px"
            v-for="image in postInfo.images.split(',')"
            :key="image"
            :img-src="linkApi + image"
          >
          </b-carousel-slide>
        </b-carousel>
      </div>

      <div class="row container w-100">
        <div class="col-12 pr-0">
          <b-form-group label-for="university" description="University Name.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="building-columns" />
              </b-input-group-prepend>
              <b-form-input
                id="postInfo"
                disabled
                v-model="postInfo.university"
              />
            </b-input-group>
          </b-form-group>
        </div>
        <div class="col-6">
          <b-form-group label-for="id" description="Post ID.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <span class="font-weight-bold">ID</span>
              </b-input-group-prepend>
              <b-form-input
                id="postInfo"
                v-model="postInfo.id"
                type="number"
                disabled
              />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="active" description="Active.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="signal" />
              </b-input-group-prepend>
              <b-form-input
                id="postInfo"
                v-if="postInfo.status == 1"
                disabled
                type=""
                value="Enable"
              />
              <b-form-input
                id="postInfo"
                v-else
                disabled
                type=""
                value="Disable"
              />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="time" description="Time Created.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="clock" />
              </b-input-group-prepend>
              <b-form-input id="postInfo" v-model="postInfo.time" disabled />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="like" description="Like Count.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="thumbs-up" />
              </b-input-group-prepend>
              <b-form-input
                id="postInfo"
                v-model="postInfo.likes"
                type="number"
                disabled
              />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="comment" description="Comment Count.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="comment" />
              </b-input-group-prepend>
              <b-form-input
                id="postInfo"
                v-model="postInfo.comments"
                type="number"
                disabled
              />
            </b-input-group>
          </b-form-group>
        </div>

        <div class="col-6 pr-0">
          <b-form-group label-for="faculty" description="Faculty Name.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="graduation-cap" />
              </b-input-group-prepend>
              <b-form-input id="postInfo" v-model="postInfo.faculty" disabled />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="major" description="Major Name.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="chalkboard" />
              </b-input-group-prepend>
              <b-form-input id="postInfo" v-model="postInfo.major" disabled />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="subject" description="Subject Name.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="book" />
              </b-input-group-prepend>
              <b-form-input id="postInfo" v-model="postInfo.subject" disabled />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="teacher" description="Teacher Name.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="person-chalkboard" />
              </b-input-group-prepend>
              <b-form-input id="postInfo" v-model="postInfo.teacher" disabled />
            </b-input-group>
          </b-form-group>

          <div v-for="document in postInfo.document.split(',')" :key="document">
            <b-form-group label-for="document" description="Document.">
              <b-input-group>
                <b-input-group-prepend is-text>
                  <fa
                    icon="copy"
                    class="copy-icon"
                    @click="copySomething(document)"
                  />
                </b-input-group-prepend>
                <b-form-input id="postInfo" disabled :value="document" />
              </b-input-group>
            </b-form-group>
          </div>
        </div>
      </div>
      <div class="row container mt-5 ml-1">
        <div class="col-12 row pr-0">
          <label class="font-weight-bold text-primary mr-3">Rate Hard</label>
          <span>
            <fa
              v-for="n in postInfo.rateHard"
              :key="n"
              class="text-warning mr-1"
              icon="star"
            />
            <fa
              v-for="n in 5 - postInfo.rateHard"
              :key="n"
              class="text-secondary mr-1"
              icon="star"
            />
          </span>
          <div class="col-12 border border-black rounded p-3">
            <span>{{ postInfo.reviewHard }}</span>
          </div>
        </div>
        <div class="col-12 row mt-3 pr-0">
          <label class="font-weight-bold text-primary mr-3">Rate Like</label>
          <span>
            <fa
              v-for="n in postInfo.rateLike"
              :key="n"
              class="text-warning mr-1"
              icon="star"
            />
            <fa
              v-for="n in 5 - postInfo.rateLike"
              :key="n"
              class="text-secondary mr-1"
              icon="star"
            />
          </span>
          <div class="col-12 border border-black rounded p-3">
            <span>{{ postInfo.reviewLike }}</span>
          </div>
        </div>
        <div class="col-12 row mt-3 pr-0">
          <label class="font-weight-bold text-primary mr-3">Rate Exam</label>
          <span>
            <fa
              v-for="n in postInfo.rateExam"
              :key="n"
              class="text-warning mr-1"
              icon="star"
            />
            <fa
              v-for="n in 5 - postInfo.rateExam"
              :key="n"
              class="text-secondary mr-1"
              icon="star"
            />
          </span>
          <div class="col-12 border border-black rounded p-3">
            <span>{{ postInfo.reviewExam }}</span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center w-100">
        <b-button
          variant="danger"
          class="mt-4 w-50"
          block
          @click="$bvModal.hide('postInfo')"
          >Close</b-button
        >
      </div>
    </b-modal>

    <b-modal
      id="commentInfo"
      header-bg-variant="info"
      header-text-variant="light"
      size="md"
      centered
      hide-footer
    >
      <template #modal-title> Comment Info </template>
      <div class="row container w-100">
        <label class="col-3 font-weight-bold">ID:</label>
        <span class="col">{{ commentInfo.id }}</span>
      </div>
      <div class="row container w-100">
        <label class="col-3 font-weight-bold">Active:</label>
        <div class="col">
          <fa
            v-if="commentInfo.status == 1"
            class="text-success"
            icon="circle-check"
          />
          <fa
            v-if="commentInfo.status == 2"
            class="text-danger"
            icon="circle-xmark"
          />
        </div>
      </div>
      <div class="row container w-100">
        <label class="col-3 font-weight-bold">Time:</label>
        <span class="col">{{ commentInfo.time }}</span>
      </div>
      <div class="row container w-100">
        <label class="col-3 font-weight-bold">User ID:</label>
        <span class="col">{{ commentInfo.userId }}</span>
      </div>
      <div class="row container w-100">
        <label class="col-3 font-weight-bold">Post ID:</label>
        <span class="col">{{ commentInfo.postId }}</span>
      </div>
      <div class="row container w-100">
        <label class="col-3 font-weight-bold">Content:</label>
        <span class="col">{{ commentInfo.content }}</span>
      </div>
      <div class="d-flex justify-content-center w-100">
        <b-button
          variant="danger"
          class="mt-4 w-50"
          block
          @click="$bvModal.hide('commentInfo')"
          >Close
        </b-button>
      </div>
    </b-modal>
  </div>
</template>
<script>
import axios from "axios";
import { dataMixins } from "~/assets/js/main.js";
export default {
  mixins: [dataMixins],
  props: ["itemsComment"],
  data() {
    return {
      fieldsComments: [
        { key: "id", label: "ID", sortable: true, thStyle: { width: "3%" } },
        {
          key: "user",
          label: "User",
          sortable: true,
          thStyle: { width: "15%" },
        },
        {
          key: "post",
          label: "Post Subject",
          sortable: true,
          thStyle: { width: "22%" },
        },
        {
          key: "content",
          label: "Content",
          sortable: true,
          thStyle: { width: "35%" },
        },
        {
          key: "time",
          label: "Time",
          sortable: true,
          thStyle: { width: "10%" },
        },
        { key: "active", label: "Active", thStyle: { width: "5%" } },
        { key: "action", label: "Action", thStyle: { width: "5%" } },
      ],
      userInfo: {
        id: 0,
        status: 0,
        username: "",
        fullname: "",
        email: "",
        university: "",
        faculty: "",
        major: "",
        avatar: "",
        point: 0,
        posts: 0,
      },
      postInfo: {
        id: 0,
        userFullname: "",
        userAvatar: "",
        subject: "",
        university: "",
        faculty: "",
        likes: 0,
        comments: 0,
        time: "",
        status: 0,
        major: "",
        document: "",
        rateHard: 0,
        reviewHard: "",
        rateLike: 0,
        reviewLike: "",
        rateExam: 0,
        reviewExam: "",
        images: "",
        teacher: "",
      },
      commentInfo: {
        id: 0,
        userId: 0,
        postId: 0,
        content: "",
        time: "",
        status: 0,
      },
    };
  },
  created() {},
  methods: {
    copySomething(text) {
      if (!navigator.clipboard) {
        fallbackCopyTextToClipboard(text);
        return;
      }
      navigator.clipboard.writeText(text).then(
        function () {
          console.log("Async: Copying to clipboard was successful!");
        },
        function (err) {
          console.error("Async: Could not copy text: ", err);
        }
      );
    },
    showComment(c) {
      this.commentInfo = {
        id: c.comment.id,
        userId: c.comment.userId,
        postId: c.comment.postId,
        content: c.comment.content,
        time:
          c.comment.created.toString().substring(0, 10) +
          " " +
          c.comment.created.toString().substring(11, 16),
        status: c.comment.status,
      };
      this.$bvModal.show("commentInfo");
    },
    showUser(userId) {
      axios
        .get(
          `${this.linkApi}api/Profile/profileId=${userId}?userId=${userId}`,
          { headers: { Authorization: `Bearer ${localStorage.tokenz}` } }
        )
        .then((res) => {
          this.userInfo = {
            id: res.data.user.id,
            status: res.data.user.status,
            username: res.data.user.userName,
            fullname: res.data.user.fullname,
            email: res.data.user.email,
            university: res.data.universityName,
            faculty: res.data.facultyName,
            major: res.data.user.major,
            avatar: res.data.user.avatar,
            point: res.data.user.point,
            posts: res.data.countPost,
          };

          this.$bvModal.show("userInfo");
        });
    },
    showPost(id) {
      axios
        .get(`${this.linkApi}api/Admin/GetPostResponseById?id=${id}`, {
          headers: { Authorization: `Bearer ${localStorage.tokenz}` },
        })
        .then((res) => {
          this.postInfo = {
            id: res.data.post.id,
            userFullname: res.data.userFullname,
            userAvatar: res.data.userAvatar,
            subject: res.data.post.subject,
            university: res.data.universityName,
            faculty: res.data.facultyName,
            likes: res.data.post.likeCount,
            comments: res.data.post.commentCount,
            time:
              res.data.post.created.toString().substring(0, 10) +
              " " +
              res.data.post.created.toString().substring(11, 16),
            status: res.data.post.status,
            major: res.data.post.major,
            document: res.data.post.document,
            rateHard: res.data.post.rateHard,
            reviewHard: res.data.post.reviewHard,
            rateLike: res.data.post.rateLike,
            reviewLike: res.data.post.reviewLike,
            rateExam: res.data.post.rateExam,
            reviewExam: res.data.post.reviewExam,
            images: res.data.post.images,
            teacher: res.data.post.teacher,
          };
          this.$bvModal.show("postInfo");
        });
    },
    onDisable(id) {
      this.$bvModal
        .msgBoxConfirm("Do You Want To Disable Comment?", {
          title: "Disable Comment",
          size: "md",
          buttonSize: "md",
          okVariant: "warning",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) this.disableComment(id);
        });
    },
    onEnable(id) {
      this.$bvModal
        .msgBoxConfirm("Do You Want To Enable Comment?", {
          title: "Enable Comment",
          size: "md",
          buttonSize: "md",
          okVariant: "warning",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) this.enableComment(id);
        });
    },
    // onDelete(id) {
    //     this.$bvModal.msgBoxConfirm('Do You Want To Delete Comment?', {
    //         title: "Delete Comment",
    //         size: 'md',
    //         buttonSize: 'md',
    //         okVariant: 'danger',
    //         okTitle: 'YES',
    //         cancelTitle: 'NO',
    //         footerClass: 'p-2',
    //         hideHeaderClose: false,
    //         centered: true
    //     }).then(value => {
    //         if (value) this.deleteComment(id)
    //     })
    // },
    disableComment(id) {
      axios
        .put(`${this.linkApi}api/Comments/Disable?id=${id}`, {
          headers: { Authorization: `Bearer ${localStorage.tokenz}` },
        })
        .then((res) => {
          if (res.data) this.$emit("disable");
        });
    },
    enableComment(id) {
      axios
        .put(`${this.linkApi}api/Comments/Enable?id=${id}`, {
          headers: { Authorization: `Bearer ${localStorage.tokenz}` },
        })
        .then((res) => {
          if (res.data) this.$emit("enable");
        });
    },
    // deleteComment(id) {
    //     console.log("delete" + id)
    //     axios.delete(`${this.linkApi}api/Comments/${id}`,
    //         { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
    //             if (res.data) this.$emit('delete')
    //         })
    // },
  },
};
</script>
<style>
.table-comments .table {
  background-color: #fff;
  font-size: 0.8rem;
}

.table-comments #action svg {
  cursor: pointer;
}

.table-comments #active svg {
  cursor: pointer;
}

#userInfo-btn:hover {
  cursor: pointer;
}

#postInfo-btn:hover {
  cursor: pointer;
}

.table-comments .position-relative {
  position: sticky !important;
}

.table-comments tr {
  max-height: 52px;
}

.table-comments .b-table-sticky-header {
  max-height: 500px;
}

.table-comments td {
  padding-top: 6px;
  padding-bottom: 6px;
}
</style>