<template>
    <div>
        <Title :title="title"></Title>
        <div class="pl-4 mt-3 pr-4">
            <FormSearchComment :keySearch="keySearch" @on-Search="GetComments"></FormSearchComment>
            <TableComment :itemsComment="itemsComment" @delete="showMessageDelete" @enable="showMessageEnable"
                @disable="showMessageDisable" class="mt-3"></TableComment>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
import Title from '~/components/Title.vue'
import { dataMixins } from '~/assets/js/main.js'
import FormSearchComment from './components/FormSearchComment.vue'
import TableComment from './components/TableComment.vue'

export default {
    mixins: [dataMixins],
    data() {
        return {
            title: "Comments",
            keySearch: {
                status: 0,
                userId: 0,
                postId: 0,
                comment: ""
            },
            itemsComment: [],
        }
    },
    components: {
        Title,
        FormSearchComment,
        TableComment
    },
    created() {
        if (this.$route.query.user) this.keySearch.userId = this.$route.query.user
        if (this.$route.query.post) this.keySearch.postId = this.$route.query.post
        this.GetComments()
    },
    methods: {
        showMessageEnable(e) {
            this.$bvToast.toast('Enable Comment Successfully', {
                toaster: 'b-toaster-bottom-right',
                title: "Notification",
                variant: "success",
                solid: true,
                autoHideDelay: 3000
            })
            this.GetComments()
        },
        showMessageDisable(e) {
            this.$bvToast.toast('Disable Comment Successfully', {
                toaster: 'b-toaster-bottom-right',
                title: "Notification",
                variant: "danger",
                solid: true,
                autoHideDelay: 3000
            })
            this.GetComments()
        },
        showMessageDelete(e) {
            this.$bvToast.toast('Delete Comment Successfully', {
                toaster: 'b-toaster-bottom-right',
                title: "Notification",
                variant: "danger",
                solid: true,
                autoHideDelay: 3000
            })
            this.GetComments()
        },
        GetComments() {
            axios.get(`${this.linkApi}api/Admin/SearchComment?status=${this.keySearch.status}&userId=${this.keySearch.userId}&postId=${this.keySearch.postId}&content=${this.keySearch.comment}`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } })
                .then(res => {
                    this.itemsComment = []
                    res.data.forEach(c => {
                        this.itemsComment.push({
                            id: c.comment.id,
                            user: { id: c.comment.userId, name: c.userFullname, avtar: c.userAvatar },
                            post: { id: c.comment.postId, subject: c.postSubject },
                            content: c.comment.content,
                            time: c.comment.created.toString().substring(0, 10) + " " + c.comment.created.toString().substring(11, 16),
                            active: { status: c.comment.status, id: c.comment.id },
                            action: c
                        })
                    })
                })
        }
    }
}
</script>
<style>

</style>