<template>
    <div class="form-login p-5 mt-4 mb-4">
        <label class="text-white text-center d-block">
            <h1>Login</h1>
        </label>
        <b-form class="w-100">
            <div class="mt-3">
                <label for="userName">User Name</label>
                <b-form-input id="userName" v-model="adminLogin.userName" placeholder="Enter User Name." />
            </div>
            <div class="mt-3">
                <label for="password">Password</label>
                <b-form-input id="password" @keyup.enter="onLogIn" v-model="adminLogin.password" type="password"
                    placeholder="Enter Password." />
            </div>
            <div class="w-100 mt-5">
                <b-button @click="onLogIn" class="w-100 m-0" type="button" variant="primary">Login</b-button>
            </div>
        </b-form>
    </div>

</template>
<script>
import axios from 'axios';
import { dataMixins } from '~/assets/js/main';
export default {
    mixins: [dataMixins],
    data() {
        return {
            adminLogin: {
                userName: "",
                password: ""
            }
        }
    },
    created() {
        if (localStorage.getItem("tokenz") !== null) this.$router.push('/')
     },
    methods: {
        onLogIn() {
            if (this.checkValidate()) this.logIn()
        },
        logIn() {
            axios.post(`${this.linkApi}api/Login/AdminLogin`, this.adminLogin).then(res => {
                if (res.data.token == "0") {
                    this.$bvToast.toast('Account Not Exist!', {
                        title: "Notification",
                        variant: "danger",
                        solid: true,
                    })
                } else if (res.data.token == "1") {
                    this.$bvToast.toast('Wrong Password!', {
                        title: "Notification",
                        variant: "danger",
                        solid: true,
                    })
                } else {
                    localStorage.setItem('tokenz', res.data.token)
                    if (localStorage.getItem('back') == 1) {
                        localStorage.setItem("back", 0)
                        this.$router.push(localStorage.getItem("path"))
                    }
                    else this.$router.push('/')
                }

            })
        },
        checkValidate() {
            if (this.adminLogin.userName === "" && this.adminLogin.password === "") {
                this.$bvToast.toast('Please enter Username and Password!', {
                    toaster: 'b-toaster-bottom-right',
                    title: "Notification",
                    variant: "danger",
                    solid: true,
                    autoHideDelay: 3000
                })
                return false
            } else if (this.adminLogin.userName === "") {
                this.$bvToast.toast('Please enter Username!', {
                    toaster: 'b-toaster-bottom-right',
                    title: "Notification",
                    variant: "danger",
                    solid: true,
                    autoHideDelay: 3000
                })
                return false
            } else if (this.adminLogin.password === "") {
                this.$bvToast.toast('Please enter Password!', {
                    toaster: 'b-toaster-bottom-right',
                    title: "Notification",
                    variant: "danger",
                    solid: true,
                    autoHideDelay: 3000
                })
                return false
            } else return true
        }
    }

}
</script>
<style >
.form-login {
    width: 35vw;
    box-shadow: 10px 10px 30px rgb(31, 31, 31);
    border-radius: 10px;
}

.form-login:hover {
    background-color: rgba(50, 50, 50, 0.08);
}

.form-login label {
    font-weight: 600;
    font-size: 1.3rem;
    color: white;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.form-login input {
    box-shadow: 10px 10px 20px rgb(43, 43, 43);
}

.form-login button {
    box-shadow: 10px 10px 20px rgb(43, 43, 43);
}

@media only screen and (max-width: 940px) {
    .form-login {
        width: 90vw;
    }
}
</style>