<template>
    <div class="pl-4 pt-4 pr-4">
        <FormEditUniversity class=""></FormEditUniversity>
    </div>
</template>
<script>
import FormEditUniversity from './components/FormEditUniversity.vue';
export default {
    components: { FormEditUniversity }
}
</script>
<style>
    
</style>