<template>
    <div class="pl-4 pt-4 pr-4">
        <FormCreateUniversity class=""></FormCreateUniversity>
    </div>
</template>
<script>
import FormCreateUniversity from './components/FormCreateUniversity.vue';
export default {
    components: { FormCreateUniversity }
}
</script>
<style>
    
</style>