<template>
    <div>
        <Title :title="title"></Title>
        <div class="pl-4 mt-3 pr-4">
            <FormSearchUniversities :keySearch="keySearch" @on-Search="GetUniversities"></FormSearchUniversities>
            <TableUniversities :itemsUniversity="itemsUniversity" @enable="showMessageEnable"
                @disable="showMessageDisable" @delete="showMessageDelete" class="mt-3"></TableUniversities>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
import { dataMixins } from '~/assets/js/main.js'
import Title from '~/components/Title.vue'
import FormSearchUniversities from './components/FormSearchUniversities.vue'
import TableUniversities from './components/TableUniversities.vue'
import UniversityEventBus from '~/pages/universities/js/UniversityEventBus'

export default {
    mixins: [dataMixins],
    data() {
        return {
            title: "Universities",
            itemsUniversity: [],
            keySearch: {
                status: 0,
                university: ""
            },

        }
    },
    components: {
        Title,
        FormSearchUniversities,
        TableUniversities
    },
    created() {
        this.GetUniversities()
        UniversityEventBus.$once('deleteSuccess', this.showMessageDelete)
        UniversityEventBus.$once('submitSuccess', this.showMessageSubmit)
    },
    methods: {
        GetUniversities() {
            axios.get(`${this.linkApi}api/Admin/SearchUniversity?status=${this.keySearch.status}&university=${this.keySearch.university}`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    this.itemsUniversity = []
                    res.data.forEach(u => {
                        this.itemsUniversity.push({
                            avatar: u.university.avatar,
                            id: u.university.id,
                            name: u.university.name,
                            address: u.university.address,
                            faculties: u.facultyCount,
                            posts: u.postCount,
                            users: u.userCount,
                            active: { status: u.university.status, id: u.university.id },
                            action: u
                        })
                    })
                })
        },
        showMessageEnable(e) {
            this.$bvToast.toast('Enable University Successfully', {
                toaster: 'b-toaster-bottom-right',
                title: "Notification",
                variant: "success",
                solid: true,
                autoHideDelay: 3000
            })
            this.GetUniversities()
        },
        showMessageDisable(e) {
            this.$bvToast.toast('Disable University Successfully', {
                toaster: 'b-toaster-bottom-right',
                title: "Notification",
                variant: "danger",
                solid: true,
                autoHideDelay: 3000
            })
            this.GetUniversities()
        },
        showMessageDelete(e) {
            this.$bvToast.toast('Delete University Successfully', {
                toaster: 'b-toaster-bottom-right',
                title: "Notification",
                variant: "danger",
                solid: true,
                autoHideDelay: 3000
            })
            this.GetUniversities()
        },
        showMessageSubmit(e) {
            this.$bvToast.toast('Create University Successfully', {
                toaster: 'b-toaster-bottom-right',
                title: "Notification",
                variant: "success",
                solid: true,
                autoHideDelay: 3000
            })
        },
    }

}
</script>