<template>
  <div class="table-posts">
    <span>Totals: {{ itemsPost.length }} posts.</span>
    <b-table
      id="table-posts"
      class="mt-2"
      bordered
      striped
      hover
      sticky-header
      :items="itemsPost"
      :fields="fieldsPosts"
      default-sort="likes"
      default-sort-direction="asc"
    >
      <template #cell(id)="data">
        <div class="font-weight-bold">{{ data.value }}</div>
      </template>
      <template #cell(user)="data">
        <span
          class="text-primary"
          id="userInfo-btn"
          @click="showUser(data.value.userId)"
          >{{ data.value.userName }}</span
        >
      </template>
      <template #cell(likes)="data">
        <div class="text-center">{{ data.value }}</div>
      </template>
      <template #cell(time)="data">
        <div>{{ data.value.substring(0, 10) }}</div>
        <div>{{ data.value.substring(11, 16) }}</div>
      </template>
      <template #cell(comments)="data">
        <div class="text-center">{{ data.value }}</div>
      </template>
      <template #cell(active)="data">
        <div id="active" style="font-size: 1.2rem" class="text-center">
          <fa
            v-if="data.value.status == 1"
            @click="onDisable(data.value.id)"
            class="text-success"
            icon="circle-check"
          />
          <fa
            v-if="data.value.status != 1"
            @click="onEnable(data.value.id)"
            class="text-danger"
            icon="circle-xmark"
          />
        </div>
      </template>
      <template #cell(action)="data">
        <div id="action" style="font-size: 1.2rem">
          <fa
            class="text-primary"
            @click="showPost(data.value)"
            icon="circle-info"
          />
          <nuxt-link :to="'/comments?post=' + data.value.post.id">
            <fa class="text-info ml-2" icon="comments" />
          </nuxt-link>
        </div>
      </template>
    </b-table>

    <b-modal
      id="userInfo"
      header-bg-variant="info"
      header-text-variant="light"
      size="lg"
      centered
      hide-footer
    >
      <template #modal-title> User Info </template>
      <div class="row container">
        <div
          class="w-100 col-4 d-flex align-items-center justify-content-center"
        >
          <b-avatar
            :src="linkApi + userInfo.avatar"
            style="box-shadow: 0.2rem 0.2rem 1rem 0.5rem #cbcbcb"
            size="13rem"
          >
          </b-avatar>
        </div>
        <div class="col">
          <div class="row container w-100">
            <label class="text-info col-4 font-weight-bold">ID:</label>
            <span class="col">{{ userInfo.id }}</span>
          </div>
          <div class="row container w-100">
            <label class="text-info col-4 font-weight-bold">Active:</label>
            <div class="col">
              <fa
                v-if="userInfo.status == 1"
                class="text-success"
                icon="circle-check"
              />
              <fa
                v-if="userInfo.status == 2"
                class="text-danger"
                icon="circle-xmark"
              />
            </div>
          </div>
          <div class="row container w-100">
            <label class="text-info col-4 font-weight-bold">User Name:</label>
            <span class="col">{{ userInfo.username }}</span>
          </div>
          <div class="row container w-100">
            <label class="text-info col-4 font-weight-bold">Fullname:</label>
            <span class="col">{{ userInfo.fullname }}</span>
          </div>
          <div class="row container w-100">
            <label class="text-info col-4 font-weight-bold">Email:</label>
            <span class="col">{{ userInfo.email }}</span>
          </div>
          <div class="row container w-100">
            <label class="text-info col-4 font-weight-bold">University:</label>
            <span class="col">{{ userInfo.university }}</span>
          </div>
          <div class="row container w-100">
            <label class="text-info col-4 font-weight-bold">Faculty:</label>
            <span class="col">{{ userInfo.faculty }}</span>
          </div>
          <div class="row container w-100">
            <label class="text-info col-4 font-weight-bold">Major:</label>
            <span class="col">{{ userInfo.major }}</span>
          </div>
          <div class="row container w-100">
            <label class="text-info col-4 font-weight-bold">Posts:</label>
            <span class="col">{{ userInfo.posts }}</span>
          </div>
          <div class="row container w-100">
            <label class="text-info col-4 font-weight-bold">Point:</label>
            <span class="col">{{ userInfo.point }}</span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center w-100">
        <b-button
          variant="danger"
          class="mt-4 w-50"
          block
          @click="$bvModal.hide('userInfo')"
          >Close</b-button
        >
      </div>
    </b-modal>

    <b-modal
      id="postInfo"
      header-bg-variant="primary"
      header-text-variant="light"
      size="lg"
      centered
      hide-footer
    >
      <template #modal-title> Post Info </template>
      <div v-if="postInfo.images != ''" class="row container pr-0 pl-3 mb-4">
        <b-carousel
          class="col-12"
          :interval="4000"
          controls
          indicators
          img-height="100"
        >
          <b-carousel-slide
            style="max-height: 350px"
            v-for="image in postInfo.images.split(',')"
            :key="image"
            :img-src="linkApi + image"
          >
          </b-carousel-slide>
        </b-carousel>
      </div>

      <div class="row container w-100">
        <div class="col-12 pr-0">
          <b-form-group label-for="university" description="University Name.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="building-columns" />
              </b-input-group-prepend>
              <b-form-input
                id="postInfo"
                disabled
                v-model="postInfo.university"
              />
            </b-input-group>
          </b-form-group>
        </div>
        <div class="col-6">
          <b-form-group label-for="id" description="Post ID.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <span class="font-weight-bold">ID</span>
              </b-input-group-prepend>
              <b-form-input
                id="postInfo"
                v-model="postInfo.id"
                type="number"
                disabled
              />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="active" description="Active.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="signal" />
              </b-input-group-prepend>
              <b-form-input
                id="postInfo"
                v-if="postInfo.status == 1"
                disabled
                type=""
                value="Enable"
              />
              <b-form-input
                id="postInfo"
                v-else
                disabled
                type=""
                value="Disable"
              />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="time" description="Time Created.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="clock" />
              </b-input-group-prepend>
              <b-form-input id="postInfo" v-model="postInfo.time" disabled />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="like" description="Like Count.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="thumbs-up" />
              </b-input-group-prepend>
              <b-form-input
                id="postInfo"
                v-model="postInfo.likes"
                type="number"
                disabled
              />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="comment" description="Comment Count.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="comment" />
              </b-input-group-prepend>
              <b-form-input
                id="postInfo"
                v-model="postInfo.comments"
                type="number"
                disabled
              />
            </b-input-group>
          </b-form-group>
        </div>

        <div class="col-6 pr-0">
          <b-form-group label-for="faculty" description="Faculty Name.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="graduation-cap" />
              </b-input-group-prepend>
              <b-form-input id="postInfo" v-model="postInfo.faculty" disabled />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="major" description="Major Name.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="chalkboard" />
              </b-input-group-prepend>
              <b-form-input id="postInfo" v-model="postInfo.major" disabled />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="subject" description="Subject Name.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="book" />
              </b-input-group-prepend>
              <b-form-input id="postInfo" v-model="postInfo.subject" disabled />
            </b-input-group>
          </b-form-group>

          <b-form-group label-for="teacher" description="Teacher Name.">
            <b-input-group>
              <b-input-group-prepend is-text>
                <fa icon="person-chalkboard" />
              </b-input-group-prepend>
              <b-form-input id="postInfo" v-model="postInfo.teacher" disabled />
            </b-input-group>
          </b-form-group>

          <div v-for="document in postInfo.document.split(',')" :key="document">
            <b-form-group label-for="document" description="Document.">
              <b-input-group>
                <b-input-group-prepend is-text>
                  <fa
                    icon="copy"
                    class="copy-icon"
                    @click="copySomething(document)"
                  />
                </b-input-group-prepend>
                <b-form-input id="postInfo" disabled :value="document" />
              </b-input-group>
            </b-form-group>
          </div>
        </div>
      </div>
      <div class="row container mt-5 ml-1">
        <div class="col-12 row pr-0">
          <label class="font-weight-bold text-primary mr-3">Rate Hard</label>
          <span>
            <fa
              v-for="n in postInfo.rateHard"
              :key="n"
              class="text-warning mr-1"
              icon="star"
            />
            <fa
              v-for="n in 5 - postInfo.rateHard"
              :key="n"
              class="text-secondary mr-1"
              icon="star"
            />
          </span>
          <div class="col-12 border border-black rounded p-3">
            <span>{{ postInfo.reviewHard }}</span>
          </div>
        </div>
        <div class="col-12 row mt-3 pr-0">
          <label class="font-weight-bold text-primary mr-3">Rate Like</label>
          <span>
            <fa
              v-for="n in postInfo.rateLike"
              :key="n"
              class="text-warning mr-1"
              icon="star"
            />
            <fa
              v-for="n in 5 - postInfo.rateLike"
              :key="n"
              class="text-secondary mr-1"
              icon="star"
            />
          </span>
          <div class="col-12 border border-black rounded p-3">
            <span>{{ postInfo.reviewLike }}</span>
          </div>
        </div>
        <div class="col-12 row mt-3 pr-0">
          <label class="font-weight-bold text-primary mr-3">Rate Exam</label>
          <span>
            <fa
              v-for="n in postInfo.rateExam"
              :key="n"
              class="text-warning mr-1"
              icon="star"
            />
            <fa
              v-for="n in 5 - postInfo.rateExam"
              :key="n"
              class="text-secondary mr-1"
              icon="star"
            />
          </span>
          <div class="col-12 border border-black rounded p-3">
            <span>{{ postInfo.reviewExam }}</span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center w-100">
        <b-button
          variant="danger"
          class="mt-4 w-50"
          block
          @click="$bvModal.hide('postInfo')"
          >Close</b-button
        >
      </div>
    </b-modal>
  </div>
</template>
<script>
import axios from "axios";
import { dataMixins } from "~/assets/js/main.js";
import EventBus from "~/assets/js/EventBus";

export default {
  mixins: [dataMixins],
  props: ["itemsPost"],
  data() {
    return {
      fieldsPosts: [
        { key: "id", label: "ID", sortable: true, thStyle: { width: "3%" } },
        {
          key: "user",
          label: "User",
          sortable: true,
          thStyle: { width: "11%" },
        },
        {
          key: "subject",
          label: "Post Subject",
          sortable: true,
          thStyle: { width: "13%" },
        },
        {
          key: "teacher",
          label: "Teacher",
          sortable: true,
          thStyle: { width: "9%" },
        },
        {
          key: "university",
          label: "University",
          sortable: true,
          thStyle: { width: "18%" },
        },
        {
          key: "faculty",
          label: "Faculty",
          sortable: true,
          thStyle: { width: "13%" },
        },
        {
          key: "likes",
          label: "Likes",
          sortable: true,
          thStyle: { width: "3%" },
        },
        {
          key: "comments",
          label: "Comments",
          sortable: true,
          thStyle: { width: "3%" },
        },
        {
          key: "time",
          label: "Time",
          sortable: true,
          thStyle: { width: "10%" },
        },
        { key: "active", label: "Active", thStyle: { width: "5%" } },
        { key: "action", label: "Action", thStyle: { width: "10%" } },
      ],
      userInfo: {
        id: 0,
        status: 0,
        username: "",
        fullname: "",
        email: "",
        university: "",
        faculty: "",
        major: "",
        avatar: "",
        point: 0,
        posts: 0,
      },
      postInfo: {
        id: 0,
        userFullname: "",
        userAvatar: "",
        subject: "",
        university: "",
        faculty: "",
        likes: 0,
        comments: 0,
        time: "",
        status: 0,
        major: "",
        document: "",
        rateHard: 0,
        reviewHard: "",
        rateLike: 0,
        reviewLike: "",
        rateExam: 0,
        reviewExam: "",
        images: "",
      },
    };
  },
  created() {},
  methods: {
    copySomething(text) {
      if (!navigator.clipboard) {
        fallbackCopyTextToClipboard(text);
        return;
      }
      navigator.clipboard.writeText(text).then(
        function () {
          console.log("Async: Copying to clipboard was successful!");
        },
        function (err) {
          console.error("Async: Could not copy text: ", err);
        }
      );
    },
    onPost(id) {
      EventBus.$emit("onPostByIdUser", id);
      this.$router.push("/posts");
    },
    showUser(userId) {
      console.log(userId);
      axios
        .get(
          `${this.linkApi}api/Profile/profileId=${userId}?userId=${userId}`,
          { headers: { Authorization: `Bearer ${localStorage.tokenz}` } }
        )
        .then((res) => {
          this.userInfo = {
            id: res.data.user.id,
            status: res.data.user.status,
            username: res.data.user.userName,
            fullname: res.data.user.fullname,
            email: res.data.user.email,
            university: res.data.universityName,
            faculty: res.data.facultyName,
            major: res.data.user.major,
            avatar: res.data.user.avatar,
            point: res.data.user.point,
            posts: res.data.countPost,
          };

          this.$bvModal.show("userInfo");
        });
    },
    showPost(p) {
      this.postInfo = {
        id: p.post.id,
        userFullname: p.userFullname,
        userAvatar: p.userAvatar,
        subject: p.post.subject,
        university: p.universityName,
        faculty: p.facultyName,
        likes: p.post.likeCount,
        comments: p.post.commentCount,
        teacher: p.post.teacher,
        document: p.post.document,
        time:
          p.post.created.toString().substring(0, 10) +
          " " +
          p.post.created.toString().substring(11, 16),
        status: p.post.status,
        major: p.post.major,
        document: p.post.document,
        rateHard: p.post.rateHard,
        reviewHard: p.post.reviewHard,
        rateLike: p.post.rateLike,
        reviewLike: p.post.reviewLike,
        rateExam: p.post.rateExam,
        reviewExam: p.post.reviewExam,
        images: p.post.images,
      };
      console.log();
      this.$bvModal.show("postInfo");
    },
    onDisable(id) {
      this.$bvModal
        .msgBoxConfirm("Do You Want To Disable Post?", {
          title: "Disable Post",
          size: "md",
          buttonSize: "md",
          okVariant: "warning",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) this.disablePost(id);
        });
    },
    onEnable(id) {
      this.$bvModal
        .msgBoxConfirm("Do You Want To Enable Post?", {
          title: "Enable Post",
          size: "md",
          buttonSize: "md",
          okVariant: "warning",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) this.enablePost(id);
        });
    },
    // onDelete(id) {
    //     this.$bvModal.msgBoxConfirm('Do You Want To Delete Post?', {
    //         title: "Delete Post",
    //         size: 'md',
    //         buttonSize: 'md',
    //         okVariant: 'danger',
    //         okTitle: 'YES',
    //         cancelTitle: 'NO',
    //         footerClass: 'p-2',
    //         hideHeaderClose: false,
    //         centered: true
    //     }).then(value => {
    //         if (value) this.deletePost(id)
    //     })
    // },
    disablePost(id) {
      axios
        .put(`${this.linkApi}api/Posts/Disable?id=${id}`, {
          headers: { Authorization: `Bearer ${localStorage.tokenz}` },
        })
        .then((res) => {
          if (res.data) this.$emit("disable");
        });
    },
    enablePost(id) {
      axios
        .put(`${this.linkApi}api/Posts/Enable?id=${id}`, {
          headers: { Authorization: `Bearer ${localStorage.tokenz}` },
        })
        .then((res) => {
          if (res.data) this.$emit("enable");
        });
    },
    // deletePost(id) {
    //     console.log("delete" + id)
    //     axios.delete(`${this.linkApi}api/Posts/${id}`,
    //         { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
    //             if (res.data) this.$emit('delete')
    //         })
    // },
  },
};
</script>
<style>
.table-posts .table {
  background-color: #fff;
  font-size: 0.8rem;
}

.table-posts #action svg {
  cursor: pointer;
}

.table-posts #active svg {
  cursor: pointer;
}

#userInfo-btn:hover {
  cursor: pointer;
}

.table-posts .position-relative {
  position: sticky !important;
}

.table-posts .b-table-sticky-header {
  max-height: 500px;
}

.copy-icon:hover {
  cursor: pointer;
}
</style>