<template>
  <div class="form-search-users">
    <label for="status">Status :</label>
    <b-form-group class="d-inline-block ml-3" v-slot="{ ariaDescribedby }">
      <b-form-radio-group id="status" @change="onChangeStatus" v-model="keySearch.status" :options="optionsStatus"
        :aria-describedby="ariaDescribedby" name="status"></b-form-radio-group>
    </b-form-group>
    <b-form>
      <div class="mt-2 row">
        <b-form-group label-for="university" class="d-inline-block col-4" description="Search University.">
          <b-input-group class="w-100">
            <b-input-group-prepend is-text>
              <fa icon="building-columns" />
            </b-input-group-prepend>
            <b-form-select id="university" value="0" @change="getFaculty(keySearch.universityId)"
              v-model="keySearch.universityId" :options="optionsUniversity">
            </b-form-select>
          </b-input-group>
        </b-form-group>

        <b-form-group label-for="faculty" class="ml-4 d-inline-block col-4" description="Search Faculty.">
          <b-input-group class="w-100">
            <b-input-group-prepend is-text>
              <fa icon="graduation-cap" />
            </b-input-group-prepend>
            <b-form-select id="faculty" value="0" v-model="keySearch.facultyId" :options="optionsFaculty">
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </div>
      <div class="mt-2 row">
        <b-form-group label-for="fullname" class="d-inline-block col-4" description="Search Fullname.">
          <b-input-group class="w-100">
            <b-input-group-prepend is-text>
              <fa icon="user" />
            </b-input-group-prepend>
            <b-form-input id="fullname" v-model="keySearch.fullname" placeholder="Fullname" />
          </b-input-group>
        </b-form-group>

        <b-form-group label-for="subject" class="d-inline-block align-top col-4" description=" ">
          <b-button @click="onSearch" variant="primary" class="ml-4 d-inline-block pl-4 pr-4">
            <fa icon="magnifying-glass" /> Search
          </b-button>
          <b-button variant="outline-primary" type="reset" @click="onClear" class="ml-3 d-inline-block pl-3 pr-3">
            <fa icon="eraser" /> Clear
          </b-button>
        </b-form-group>
      </div>
    </b-form>
  </div>
</template>
<script>
import axios from "axios";
import { dataMixins } from "~/assets/js/main.js";
export default {
  mixins: [dataMixins],
  props: ["keySearch"],
  data() {
    return {
      optionsStatus: [
        { text: "All", value: 0 },
        { text: "Active", value: 1 },
        { text: "Inactive", value: 2 },
      ],
      optionsUniversity: [{ text: "Chooser University", value: 0 }],
      optionsFaculty: [{ text: "Chooser Faculty", value: 0 }],
    };
  },
  created() {
    this.getUniversity();
  },
  methods: {
    onClear() {
      this.keySearch.universityId = 0;
      this.keySearch.facultyId = 0;
      this.keySearch.fullname = "";
    },
    onChangeStatus() {
      this.onSearch();
    },
    onSearch() {
      this.$emit("on-Search");
    },
    getUniversity() {
      this.optionsUniversity = [{ text: "Choose University", value: 0 }];
      axios.get(`${this.linkApi}api/Admin/GetAllUniversities`,
        { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then((res) => {
          res.data.forEach((u) => {
            this.optionsUniversity.push({
              text: u.name,
              value: u.id,
            });
          });
        });
    },

    getFaculty(universityId) {
      this.optionsFaculty = [{ text: "Chooser Faculty", value: 0 }];
      axios
        .get(
          `${this.linkApi}api/Admin/GetFacultiesByUniversityId?universityId=${universityId}`,
          { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }
        )
        .then((res) => {
          res.data.forEach((f) => {
            this.optionsFaculty.push({
              text: f.name,
              value: f.id,
            });
          });
        });
    },
  },
};
</script>
<style>
.form-search-users .input-group {
  width: 20rem;
}
</style>