<template>
    <div class="table-users">
        <span>Totals: {{ itemsUser.length }} users.</span>
        <b-table id="table-users" class="mt-2" bordered striped hover sticky-header :items="itemsUser"
            :fields="fieldsUsers">
            <template #cell(id)="data">
                <div class="font-weight-bold">{{ data.value }}</div>
            </template>
            <template #cell(avatar)="data">
                <b-avatar :src="linkApi + data.value" size="2rem"></b-avatar>
            </template>
            <template #cell(active)="data">
                <div id="active" style="font-size: 1.2rem;" class="text-center">
                    <fa v-if="data.value.status == 1" class="text-success" @click="onDisable(data.value.id)" icon="circle-check" />
                    <fa v-if="data.value.status != 1" class="text-danger" @click="onEnable(data.value.id)" icon="circle-xmark" />
                </div>
            </template>
            <template #cell(action)="data">
                <div id="action" style="font-size: 1.2rem;">
                    <fa class="text-primary" @click="showUser(data.value)" icon="circle-info" />
                    <nuxt-link :to="'/posts?user=' + data.value.user.id">
                        <fa class="text-info ml-2" icon="newspaper" />
                    </nuxt-link>
                    <nuxt-link :to="'/comments?user=' + data.value.user.id">
                        <fa class="text-info ml-2" icon="comments" />
                    </nuxt-link>
                </div>
            </template>
        </b-table>

        <b-modal id="userInfo" header-bg-variant="info" header-text-variant="light" size="lg" centered hide-footer>
            <template #modal-title>
                User Info
            </template>
            <div class="row container">
                <div class="w-100 col-4 d-flex align-items-center justify-content-center">
                    <b-avatar :src="linkApi + userInfo.avatar" style="box-shadow: 0.2rem 0.2rem 1rem 0.5rem #cbcbcb;"
                        size="13rem"></b-avatar>
                </div>
                <div class="col">
                    <div class="row container w-100">
                        <label class="col-4 font-weight-bold">ID:</label>
                        <span class="col">{{ userInfo.id }}</span>
                    </div>
                    <div class="row container w-100">
                        <label class="col-4 font-weight-bold">Active:</label>
                        <div class="col">
                            <fa v-if="userInfo.status == 1" class="text-success" icon="circle-check" />
                            <fa v-if="userInfo.status == 2" class="text-danger" icon="circle-xmark" />
                        </div>
                    </div>
                    <div class="row container w-100">
                        <label class="col-4 font-weight-bold">User Name:</label>
                        <span class="col ">{{ userInfo.username }}</span>
                    </div>
                    <div class="row container w-100">
                        <label class="col-4 font-weight-bold">Fullname:</label>
                        <span class="col ">{{ userInfo.fullname }}</span>
                    </div>
                    <div class="row container w-100">
                        <label class="col-4 font-weight-bold">Email:</label>
                        <span class="col ">{{ userInfo.email }}</span>
                    </div>
                    <div class="row container w-100">
                        <label class="col-4 font-weight-bold">University:</label>
                        <span class="col">{{ userInfo.university }}</span>
                    </div>
                    <div class="row container w-100">
                        <label class="col-4 font-weight-bold">Faculty:</label>
                        <span class="col ">{{ userInfo.faculty }}</span>
                    </div>
                    <div class="row container w-100">
                        <label class="col-4 font-weight-bold">Major:</label>
                        <span class="col ">{{ userInfo.major }}</span>
                    </div>
                    <div class="row container w-100">
                        <label class="col-4 font-weight-bold">Posts:</label>
                        <span class="col ">{{ userInfo.posts }}</span>
                    </div>
                    <div class="row container w-100">
                        <label class="col-4 font-weight-bold">Point:</label>
                        <span class="col ">{{ userInfo.point }}</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center w-100">
                <b-button variant="danger" class="mt-4 w-50" block @click="$bvModal.hide('userInfo')">Close</b-button>
            </div>
        </b-modal>
    </div>
</template>
<script>
import axios from 'axios'
import { dataMixins } from '~/assets/js/main.js'

export default {
    mixins: [dataMixins],
    props: ["itemsUser"],
    data() {
        return {
            fieldsUsers: [
                { key: 'id', label: 'ID', sortable: true, thStyle: { width: "3%" } },
                { key: 'avatar', label: 'Avatar', sortable: false, thStyle: { width: "3%" } },
                { key: 'userName', label: 'UserName', sortable: true, thStyle: { width: "5%" } },
                { key: 'userFullname', label: 'Fullname', sortable: true, thStyle: { width: "12%" } },
                { key: 'university', label: 'University', sortable: true, thStyle: { width: "20%" } },
                { key: 'faculty', label: 'Faculty', sortable: true, thStyle: { width: "15%" } },
                { key: 'point', label: 'Point', sortable: true, thStyle: { width: "3%" } },
                { key: 'posts', label: 'Posts', sortable: true, thStyle: { width: "3%" } },
                { key: 'active', label: 'Active', thStyle: { width: "5%" } },
                { key: 'action', label: 'Action', thStyle: { width: "12%" } }
            ],
            userInfo: {
                id: 0,
                status: 0,
                username: "",
                fullname: "",
                email: "",
                university: "",
                faculty: "",
                major: "",
                avatar: "",
                point: 0,
                posts: 0
            },
        }
    },
    created() {

    },
    methods: {
        showUser(u) {
            console.log(u)
            this.userInfo = {
                id: u.user.id,
                status: u.user.status,
                username: u.user.userName,
                fullname: u.user.fullname,
                email: u.user.email,
                university: u.universityName,
                faculty: u.facultyName,
                major: u.user.major,
                avatar: u.user.avatar,
                point: u.user.point,
                posts: u.countPost
            }
            this.$bvModal.show('userInfo')
        },
        onDisable(id) {
            this.$bvModal.msgBoxConfirm('Do You Want To Disable User?', {
                title: "Disable User",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'warning',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if (value) this.disableUser(id)
            })
        },
        onEnable(id) {
            this.$bvModal.msgBoxConfirm('Do You Want To Enable User?', {
                title: "Enable User",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'warning',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if (value) this.enableUser(id)
            })
        },
        // onDelete(id) {
        //     this.$bvModal.msgBoxConfirm('Do You Want To Delete User?', {
        //         title: "Delete User",
        //         size: 'md',
        //         buttonSize: 'md',
        //         okVariant: 'danger',
        //         okTitle: 'YES',
        //         cancelTitle: 'NO',
        //         footerClass: 'p-2',
        //         hideHeaderClose: false,
        //         centered: true
        //     }).then(value => {
        //         if (value) this.deleteUser(id)
        //     })
        // },
        disableUser(id) {
            axios.put(`${this.linkApi}api/Users/Disable?id=${id}`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    if (res.data) this.$emit('disable')
                })
        },
        enableUser(id) {
            axios.put(`${this.linkApi}api/Users/Enable?id=${id}`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    if (res.data) this.$emit('enable')
                })
        },
        // deleteUser(id) {
        //     console.log("delete" + id)
        //     axios.delete(`${this.linkApi}api/Users/${id}`,
        //         { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
        //             if (res.data) this.$emit('delete')
        //         })
        // },
    }
}
</script>
<style>
.table-users .table {
    background-color: #fff;
    font-size: 0.8rem;
}

.table-users #action svg {
    cursor: pointer;
}

.table-users #active svg {
    cursor: pointer;
}

.table-users .position-relative {
    position: sticky !important;
}

.table-users .b-table-sticky-header {
    max-height: 500px;
}

.table-users td{
    padding-top: 6px;
    padding-bottom: 6px;
}
</style>1