<template>
    <div>
        <b-card class="create-faculty">
            <b-card-header class="pl-4 pr-4 bg-white">
                <h5 class="mb-0">Create Faculty</h5>
            </b-card-header>
            <b-card-body class="pl-4 mt-4 mb-4 pr-4">
                <b-form class="d-flex justify-content-center">
                    <div class="">
                        <b-form-group label-for="university" description="Choose University.">
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                    <fa icon="building-columns" />
                                </b-input-group-prepend>
                                <b-form-select id="university" v-model="faculty.universityId"
                                    :options="optionsUniversity">
                                </b-form-select>
                            </b-input-group>
                        </b-form-group>

                        <b-form-group label-for="faculty" description="Faculty Name.">
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                    <fa icon="graduation-cap" />
                                </b-input-group-prepend>
                                <b-form-input id="faculty" v-model="faculty.name" placeholder="Faculty" />
                            </b-input-group>
                        </b-form-group>
                    </div>
                </b-form>
            </b-card-body>
            <b-card-footer class="bg-white">
                <div class=" d-flex justify-content-center">
                    <b-button @click="onSubmit" variant="success" class="mr-2">
                        <fa class="mr-2 p-0" icon="cloud-arrow-up" /> Submit
                    </b-button>
                    <b-button @click="onCLear" variant="outline-primary" class="">
                        <fa class="mr-2 p-0" icon="eraser" /> Clear
                    </b-button>
                </div>
            </b-card-footer>
        </b-card>
    </div>
</template>
<script>
import axios from 'axios'
import { dataMixins } from '~/assets/js/main.js'
import FacultyEventBus from '~/pages/faculties/js/FacultyEventBus'

export default {
    mixins: [dataMixins],
    data() {
        return {
            id: 0,
            optionsUniversity: [{ text: "Choose University", value: 0 }],
            faculty: {
                name: "",
                universityId: 0
            },
        }
    },
    created() {
        this.getUniversity()
    },
    methods: {
        getUniversity() {
            this.optionsUniversity = [{ text: "Choose University", value: 0 }]
            axios.get(`${this.linkApi}api/Admin/GetAllUniversities`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    res.data.forEach(u => {
                        this.optionsUniversity.push({
                            text: u.name,
                            value: u.id
                        })
                    })
                })
        },

        onSubmit() {
            if (this.faculty.universityId == 0 || this.faculty.name.trim() == ""){
                this.$bvToast.toast('Please enter University ID and Name!', {
                    toaster: 'b-toaster-bottom-right',
                    title: "Notification",
                    variant: "danger",
                    solid: true,
                    autoHideDelay: 3000
                })
                return
            } 

            this.$bvModal.msgBoxConfirm('Do You Want To Create Faculty?', {
                title: "Create Faculty",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'success',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if (value) this.submit()
            })

        },
        submit() {
            axios.post(`${this.linkApi}api/Faculties`, this.faculty,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    if (res.data.id != 0) {
                        FacultyEventBus.$emit('submitSuccess', 'truedhfgh')
                        this.$router.push('/faculties')
                    }
                })
        },
        onCLear(){
            this.faculty.name = ""
            this.faculty.universityId = 0
        }
    }
}
</script>
<style>
.create-faculty .card-body {
    padding: 0;
}

.create-faculty .input-group {
    width: 30rem;
}
</style>