<template>
    <div class="edit-faculty">
        <b-card>
            <b-card-header class=" bg-white pl-4 pr-4">
                <h5 class="mb-0">Edit Faculty</h5>
            </b-card-header>
            <b-card-body class="pl-4 mt-3 mb-3 pr-4">
                <div class="d-flex justify-content-center">
                    <div class="mr-5 d-flex align-items-center">
                        <b-avatar :src="linkApi + avatar" size="11rem"></b-avatar>
                    </div>
                    <b-form class="ml-5">
                        <b-form-group label-for="id" description="Faculty ID.">
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                    <span class=" font-weight-bold">ID</span>
                                </b-input-group-prepend>
                                <b-form-input id="faculty" v-model="id" type="number" disabled
                                    placeholder="Faculty ID" />
                            </b-input-group>
                        </b-form-group>
                        <b-form-group label-for="university" description="Choose University.">
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                    <fa icon="building-columns" />
                                </b-input-group-prepend>
                                <b-form-select id="university" :disabled="isEdited" v-model="faculty.universityId"
                                    :options="optionsUniversity">
                                </b-form-select>
                            </b-input-group>
                        </b-form-group>
                        <b-form-group label-for="faculty" description="Search faculty.">
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                    <fa icon="graduation-cap" />
                                </b-input-group-prepend>
                                <b-form-input id="faculty" :disabled="isEdited" v-model="faculty.name"
                                    placeholder="Faculty" />
                            </b-input-group>
                        </b-form-group>
                    </b-form>
                </div>

            </b-card-body>
            <b-card-footer class="bg-white d-flex justify-content-center">
                <b-button :disabled="!isEdited" variant="outline-primary" @click="onEdit" class="mr-2">
                    <fa class=" mr-2 p-0" icon="pen" /> Edit
                </b-button>
                <b-button :disabled="isEdited" variant="outline-secondary" @click="onCancel" class="mr-2">
                    <fa class="mr-2 p-0" icon="ban" /> Cancel
                </b-button>
                <b-button :disabled="isEdited" @click="onSave" variant="outline-success" class="mr-2">
                    <fa class="mr-2 p-0" icon="floppy-disk" /> Save
                </b-button>
                <b-button v-if="status == 2" @click="onEnable" variant="warning" class="mr-2">
                    <fa class="mr-2 p-0" icon="eye" /> Enable
                </b-button>
                <b-button v-if="status == 1" @click="onDisable" variant="warning" class="mr-2">
                    <fa class="mr-2 p-0" icon="eye-slash" /> Diasble
                </b-button>
                <b-button @click="onDelete" variant="danger" class="">
                    <fa class="mr-2 p-0" icon="trash-can" /> Delete
                </b-button>
            </b-card-footer>
        </b-card>
    </div>
</template>
<script>
import axios from 'axios'
import { dataMixins } from '~/assets/js/main.js'
import FacultyEventBus from '~/pages/faculties/js/FacultyEventBus'
export default {
    mixins: [dataMixins],
    data() {
        return {
            id: this.$route.params.id,
            avatar: "",
            universityId: 0,
            name: "",
            status: 0,
            faculty: {},
            optionsUniversity: [{ text: "Chooser University", value: 0 }],
            isEdited: true,
        }
    },
    created() {
        this.getFaculty()
        this.getUniversity()
    },
    methods: {
        getFaculty() {
            axios.get(`${this.linkApi}api/Admin/GetFacultyResponseById?id=${this.id}`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    this.avatar = res.data.universityAvatar
                    this.status = res.data.faculty.status
                    this.universityId = res.data.faculty.universityId
                    this.name = res.data.faculty.name
                    this.faculty = {
                        name: res.data.faculty.name,
                        universityId: res.data.faculty.universityId
                    }
                })
        },
        getUniversity() {
            this.optionsUniversity = [{ text: "Choose University", value: 0 }]
            axios.get(`${this.linkApi}api/Admin/GetAllUniversities`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    res.data.forEach(u => {
                        this.optionsUniversity.push({
                            text: u.name,
                            value: u.id
                        })
                    })
                })
        },
        onEdit() {
            this.isEdited = !this.isEdited
        },
        onCancel() {
            this.isEdited = !this.isEdited
            this.faculty = {
                name: this.name,
                universityId: this.universityId
            }
        },
        onSave() {
            this.$bvModal.msgBoxConfirm('Do You Want To Save Faculty?', {
                title: "Save Faculty",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'success',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if (value) this.save()
            })

        },
        save() {
            axios.put(`${this.linkApi}api/Faculties/id?id=${this.id}`, this.faculty,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    this.getFaculty()
                    this.isEdited = !this.isEdited
                    this.$bvToast.toast('Save Faculty Successfully', {
                        toaster: 'b-toaster-bottom-right',
                        title: "Notification",
                        variant: "success",
                        solid: true,
                        autoHideDelay: 3000
                    })
                })
        },
        onDelete() {
            this.$bvModal.msgBoxConfirm('Do You Want To Delete Faculty?', {
                title: "Delete Faculty",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'danger',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if (value) this.delete()
            })
        },
        delete() {
            axios.delete(`${this.linkApi}api/Faculties/id?id=${this.id}`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    if (res.data) {
                        FacultyEventBus.$emit('deleteSuccess', 'delete')
                        this.$router.push('/faculties')
                    }
                })
        },
        onEnable() {
            this.$bvModal.msgBoxConfirm('Do You Want To Enable Faculty?', {
                title: "Enable Faculty",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'warning',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if (value) this.enable()
            })
        },
        enable() {
            axios.put(`${this.linkApi}api/Faculties/Enable?id=${this.id}`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    if (res.data) {
                        this.$bvToast.toast('Enable Faculty Successfully', {
                            toaster: 'b-toaster-bottom-right',
                            title: "Notification",
                            variant: "danger",
                            solid: true,
                            autoHideDelay: 3000
                        })
                        this.getFaculty()
                    }
                })
        },
        onDisable() {
            this.$bvModal.msgBoxConfirm('Do You Want To Disable Faculty?', {
                title: "Disable Faculty",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'warning',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if (value) this.disable()
            })
        },
        disable() {
            axios.put(`${this.linkApi}api/Faculties/Disable?id=${this.id}`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    if (res.data) {
                        this.$bvToast.toast('Disable Faculty Successfully', {
                            toaster: 'b-toaster-bottom-right',
                            title: "Notification",
                            variant: "danger",
                            solid: true,
                            autoHideDelay: 3000
                        })
                        this.getFaculty()
                    }
                })
        },
    }
}
</script>
<style>
.edit-faculty .card-body {
    padding: 0;
}

.edit-faculty .input-group {
    width: 30rem;
}
</style>