<template>
  <div class="form-search-faculties">
    <label for="status">Status :</label>
    <b-form-group class="d-inline-block ml-3" v-slot="{ ariaDescribedby }">
      <b-form-radio-group id="status" v-model="keySearch.status" @change="onChangeStatus" :options="optionsStatus"
        :aria-describedby="ariaDescribedby" name="status"></b-form-radio-group>
    </b-form-group>
    <b-form>
      <div class="mt-2 row">
        <b-form-group label-for="university" class="d-inline-block col-4" description="Search University.">
          <b-input-group class="w-100">
            <b-input-group-prepend is-text>
              <fa icon="building-columns" />
            </b-input-group-prepend>
            <b-form-select id="university" v-model="keySearch.universityId" value="0" :options="optionsUniversity">
            </b-form-select>
          </b-input-group>
        </b-form-group>
        <b-form-group label-for="faculty" class="d-inline-block ml-4 col-4" description="Search faculty.">
          <b-input-group class="w-100">
            <b-input-group-prepend is-text>
              <fa icon="graduation-cap" />
            </b-input-group-prepend>
            <b-form-input id="faculty" v-model="keySearch.faculty" placeholder="Faculty" />
          </b-input-group>
        </b-form-group>
        <b-form-group class="d-inline-block align-top" description=" ">
          <b-button @click="onSearch" variant="primary" class="ml-4 d-inline-block pl-4 pr-4">
            <fa icon="magnifying-glass" /> Search
          </b-button>
          <b-button variant="outline-primary" type="reset" @click="onClear" class="ml-3 d-inline-block pl-3 pr-3">
            <fa icon="eraser" /> Clear
          </b-button>
        </b-form-group>
      </div>
    </b-form>
  </div>
</template>
<script>
import axios from "axios";
import { dataMixins } from "~/assets/js/main.js";
export default {
  name: "FormSearchFaculties",
  mixins: [dataMixins],
  props: ["keySearch"],
  data() {
    return {
      optionsStatus: [
        { text: "All", value: 0 },
        { text: "Active", value: 1 },
        { text: "Inactive", value: 2 },
      ],
      optionsUniversity: [{ text: "Chooser University", value: 0 }],
      tag: null,
    };
  },
  created() {
    this.getUniversity();
  },
  methods: {
    onClear() {
      this.keySearch.universityId = 0;
      this.keySearch.faculty = "";
    },
    onChangeStatus() {
      this.onSearch();
    },
    onSearch() {
      this.$emit("on-Search");
    },
    getUniversity() {
      this.optionsUniversity = [{ text: "Choose University", value: 0 }];
      axios.get(`${this.linkApi}api/Admin/GetAllUniversities`,
        { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then((res) => {
          res.data.forEach((u) => {
            this.optionsUniversity.push({
              text: u.name,
              value: u.id,
            });
          });
        });
    },
  },
};
</script>
<style>
.form-search-faculties .input-group {
  width: 20rem;
}
</style>