<template>
    <div class="table-faculties">
        <div class=" d-flex justify-content-between">
            <span>Totals: {{ itemsFaculty.length }} faculties.</span>
            <nuxt-link to="/faculties/create">
                <b-button class="pr-2 pl-2 pt-1 pb-1" variant="primary">
                    <fa icon="plus" /> Add new
                </b-button>
            </nuxt-link>
        </div>
        <b-table id="table-faculties" class="mt-2" bordered striped hover sticky-header :items="itemsFaculty"
            :fields="fieldsFaculties">
            <template #cell(university)="data">
                <div class="d-flex align-items-center">
                    <b-avatar :src="linkApi + data.value.avatar" size="2rem"></b-avatar>
                    <span class="ml-2">
                        {{data.value.name }}
                    </span>
                </div>
            </template>
            <template #cell(id)="data">
                <div class="font-weight-bold">{{ data.value }}</div>
            </template>

            <template #cell(active)="data">
                <div id="active" style="font-size: 1.2rem;" class="text-center">
                    <fa v-if="data.value.status == 1" @click="onDisable(data.value.id)" class="text-success" icon="circle-check" />
                    <fa v-if="data.value.status != 1" @click="onEnable(data.value.id)" class="text-danger" icon="circle-xmark" />
                </div>
            </template>
            <template #cell(action)="data">
                <div id="action" style="font-size: 1.2rem;">
                    <nuxt-link :to="'/faculties/'+ data.value.faculty.id">
                        <fa class="text-primary" icon="pen" />
                    </nuxt-link>
                    <fa class="text-danger ml-2" @click="onDelete(data.value.faculty.id)" icon="trash-can" />
                </div>
            </template>
        </b-table>
    </div>
</template>
<script>
import axios from 'axios'
import { dataMixins } from '~/assets/js/main.js'
export default {
    mixins: [dataMixins],
    props: ["itemsFaculty"],
    data() {
        return {
            fieldsFaculties: [
                { key: 'id', label: 'ID', sortable: true, thStyle: { width: "5%" } },
                { key: 'university', label: 'University', sortable: true, thStyle: { width: "30%" } },
                { key: 'name', label: 'Name', sortable: true, thStyle: { width: "25%" } },
                { key: 'posts', label: 'Posts', sortable: true, thStyle: { width: "5%" } },
                { key: 'users', label: 'Users', sortable: true, thStyle: { width: "5%" } },
                { key: 'active', label: 'Active', thStyle: { width: "5%" } },
                { key: 'action', label: 'Action', thStyle: { width: "8%" } }
            ],
        }
    },
    created() { },
    methods: {
        onDisable(id) {
            this.$bvModal.msgBoxConfirm('Do You Want To Disable Faculty?', {
                title: "Disable Faculty",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'warning',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if(value) this.disableFaculty(id)
            })
        },
        onEnable(id) {
            this.$bvModal.msgBoxConfirm('Do You Want To Enable Faculty?', {
                title: "Enable Faculty",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'warning',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if(value) this.enableFaculty(id)
            })
        },
        onDelete(id) {
            this.$bvModal.msgBoxConfirm('Do You Want To Delete Faculty?', {
                title: "Delete Faculty",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'danger',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if(value) this.deleteFaculty(id)
            })
        },
        disableFaculty(id) {
            axios.put(`${this.linkApi}api/Faculties/Disable?id=${id}`,
                    { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                        if(res.data) this.$emit('disable')
                    })
        },
        enableFaculty(id) {
            axios.put(`${this.linkApi}api/Faculties/Enable?id=${id}`,
                    { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                        if(res.data) this.$emit('enable')
                    })
        },
        deleteFaculty(id) {
            axios.delete(`${this.linkApi}api/Faculties/id?id=${id}`,
                    { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                        if(res.data) this.$emit('delete')
                    })
        },
    }
}
</script>
<style>
.table-faculties .table {
    background-color: #fff;
    font-size: 0.8rem;
}

.table-faculties #action svg {
    cursor: pointer;
}

.table-faculties #active svg {
    cursor: pointer;
}

.table-faculties .position-relative {
    position: sticky !important;
}

.table-faculties .b-table-sticky-header {
    max-height: 500px;
}

.table-faculties td{
    padding-top: 6px;
    padding-bottom: 6px;
}
</style>