<template>
  <div>
    <Title :title="title"></Title>
    <div class="pl-4 mt-3 pr-4">
      <FormSearchPosts :keySearch="keySearch" @on-Search="GetPosts"></FormSearchPosts>
      <TablePosts :itemsPost="itemsPost" @delete="showMessageDelete" @enable="showMessageEnable"
        @disable="showMessageDisable" class="mt-3"></TablePosts>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Title from "~/components/Title.vue";
import FormSearchPosts from "./components/FormSearchPosts.vue";
import TablePosts from "./components/TablePosts.vue";
import { dataMixins } from "~/assets/js/main.js";

export default {
  mixins: [dataMixins],
  data() {
    return {
      title: "Posts",
      keySearch: {
        status: 0,
        universityId: 0,
        facultyId: 0,
        userId: 0,
        subject: "",
      },
      itemsPost: [],
    };
  },
  components: {
    Title,
    FormSearchPosts,
    TablePosts,
  },
  created() {
    if (this.$route.query.user) this.keySearch.userId = this.$route.query.user;
    this.GetPosts();
  },
  methods: {
    showMessageEnable(e) {
      this.$bvToast.toast("Enable Post Successfully", {
        toaster: "b-toaster-bottom-right",
        title: "Notification",
        variant: "success",
        solid: true,
        autoHideDelay: 3000,
      });
      this.GetPosts();
    },
    showMessageDisable(e) {
      this.$bvToast.toast("Disable Post Successfully", {
        toaster: "b-toaster-bottom-right",
        title: "Notification",
        variant: "danger",
        solid: true,
        autoHideDelay: 3000,
      });
      this.GetPosts();
    },
    showMessageDelete(e) {
      this.$bvToast.toast("Delete Post Successfully", {
        toaster: "b-toaster-bottom-right",
        title: "Notification",
        variant: "danger",
        solid: true,
        autoHideDelay: 3000,
      });
      this.GetPosts();
    },
    GetPosts() {
      console.log("aafgd");
      axios
        .get(
          `${this.linkApi}api/Admin/SearchPost?status=${this.keySearch.status}&universityId=${this.keySearch.universityId}&facultyId=${this.keySearch.facultyId}&userId=${this.keySearch.userId}&subject=${this.keySearch.subject}`,
          { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }
        )
        .then((res) => {
          console.log(res);
          this.itemsPost = [];
          res.data.forEach((p) => {
            this.itemsPost.push({
              id: p.post.id,
              user: { userId: p.post.userId, userName: p.userFullname },
              subject: p.post.subject,
              teacher: p.post.teacher,
              university: p.universityName,
              faculty: p.facultyName,
              likes: p.post.likeCount,
              comments: p.post.commentCount,
              time:
                p.post.created.toString().substring(0, 10) +
                " " +
                p.post.created.toString().substring(11, 16),
              active: { status: p.post.status, id: p.post.id },
              action: p,
              document: p.post.document,
            });
          });
        });
    },
  },
};
</script>
<style>

</style>