<template>
    <div>
        <b-card class="create-edit-admin">
            <b-card-header class="pl-4 pr-4 bg-white">
                <h5 v-if="id" class="mb-0">Edit Admin</h5>
                <h5 v-if="!id" class="mb-0">Create Admin</h5>
            </b-card-header>
            <b-card-body class="pl-4 mt-4 pr-4">
                <b-form class="d-flex justify-content-center">
                    <div class="mr-5">
                        <b-form-group label-for="userName" description="User Name.">
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                    <fa icon="user-gear" />
                                </b-input-group-prepend>
                                <b-form-input id="userName" v-model="admin.userName" placeholder="User Name" />
                            </b-input-group>
                        </b-form-group>
                    </div>
                    <div class="ml-5">
                        <b-form-group label-for="password" description="Password.">
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                    <fa icon="lock" />
                                </b-input-group-prepend>
                                <b-form-input id="password" v-model="admin.password" placeholder="Password" />
                            </b-input-group>
                        </b-form-group>
                    </div>
                </b-form>
            </b-card-body>
            <b-card-footer class="bg-white d-flex justify-content-center">
                <b-button @click="onSubmit" variant="success" class="">
                    <fa class="mr-2 p-0" icon="cloud-arrow-up" /> Submit
                </b-button>
                <b-button v-if="!id" @click="onClear" variant="outline-primary" class="ml-2">
                    <fa class="mr-2 p-0" icon="eraser" /> Clear
                </b-button>
                <b-button v-if="id" @click="onCancel" variant="outline-secondary" class="ml-2">
                    <fa class="mr-2 p-0" icon="ban" /> Cancel
                </b-button>
                <b-button v-if="id" @click="onDelete" variant="danger" class="ml-2">
                    <fa class="mr-2 p-0" icon="trash-can" /> Delete
                </b-button>
            </b-card-footer>
        </b-card>
    </div>
</template>
<script>
import axios from 'axios'
import { dataMixins } from '~/assets/js/main.js'
import AdminEventBus from '~/pages/admins/js/AdminEventBus'
export default {
    mixins: [dataMixins],
    data() {
        return {
            id: this.$route.params.id,
            userName: "",
            password: "",
            admin: {
                userName: "",
                password: ""
            }
        }
    },
    created() {
        if (this.id) {
            this.getAdmin()
        }
    },
    methods: {
        getAdmin() {
            axios.get(`${this.linkApi}api/Admin/${this.id}`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    this.admin.userName = res.data.userName
                    this.admin.password = res.data.password
                    this.userName = res.data.userName
                    this.password = res.data.password
                })
        },
        onCancel() {
            this.admin.userName = this.userName
            this.admin.password = this.password
        },
        onSubmit() {
            if (this.admin.userName.trim() == "" || this.admin.password.trim() == "") {
                this.$bvToast.toast('Please enter UserNamr and Password!', {
                    toaster: 'b-toaster-bottom-right',
                    title: "Notification",
                    variant: "danger",
                    solid: true,
                    autoHideDelay: 3000
                })
                return
            }

            this.$bvModal.msgBoxConfirm('Do You Want To Submit?', {
                title: "Submit Admin",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'success',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if (value) this.submit()
            })
        },
        onDelete() {
            this.$bvModal.msgBoxConfirm('Do You Want To Delete Admin?', {
                title: "Delete Admin",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'danger',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if (value) this.delete()
            })
        },
        delete() {
            axios.delete(`${this.linkApi}api/Admin/${this.id}`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    AdminEventBus.$emit('deleteSuccess', 'truedhfgh')
                    this.$router.push('/admins')
                })
        },
        submit() {
            if (this.id) {
                axios.put(`${this.linkApi}api/Admin/${this.id}`, this.admin,
                    { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                        if (res.data.id != 0) {
                            this.$bvToast.toast('Update Admin Successfully', {
                                toaster: 'b-toaster-bottom-right',
                                title: "Notification",
                                variant: "success",
                                solid: true,
                                autoHideDelay: 3000
                            })
                            this.getAdmin()
                        }
                    })
            } else {
                axios.post(`${this.linkApi}api/Admin`, this.admin,
                    { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                        if (res.data.id != 0) {
                            AdminEventBus.$emit('submitSuccess', 'truedhfgh')
                            this.$router.push('/admins')
                        }
                    })
            }
        },
        onClear() {
            this.admin.userName = ""
            this.admin.password = ""
        }
    }
}
</script>
<style>
.create-edit-admin .card-body {
    padding: 0;
}

.create-edit-admin .input-group {
    width: 20rem;
}
</style>