<template>
    <div class="form-search-admins">
        <b-form>
            <b-form-group label-for="admin" class="d-inline-block" description="Search Admin.">
                <b-input-group>
                    <b-input-group-prepend is-text>
                        <fa icon="user-gear" />
                    </b-input-group-prepend>
                    <b-form-input id="admin" v-model="keySearch.admin" placeholder="Admin" />
                </b-input-group>
            </b-form-group>

            <b-form-group class="d-inline-block align-top" description=" ">
                <b-button @click="onSearch" variant="primary" class="ml-4 d-inline-block pl-4 pr-4">
                    <fa icon="magnifying-glass" /> Search
                </b-button>
                <b-button variant="outline-primary" type="reset" @click="onClear" class="ml-3 d-inline-block pl-3 pr-3">
                    <fa icon="eraser" /> Clear
                </b-button>
            </b-form-group>
        </b-form>
    </div>
</template>
<script>
import axios from 'axios'
import { dataMixins } from '~/assets/js/main.js'
export default {
    mixins: [dataMixins],
    props: ["keySearch"],
    methods: {
        onClear() {
            this.keySearch.admin = ""
        },
        onSearch() {
            this.$emit('on-Search')
        }
    }
}
</script>
<style>
.form-search-admins .input-group {
    width: 20rem;
}
</style>