<template>
    <div class="table-admins">
        <div class=" d-flex justify-content-between">
            <span>Totals: {{ itemsAdmin.length }} admins.</span>
            <nuxt-link to="/admins/create">
                <b-button class="pr-2 pl-2 pt-1 pb-1" variant="primary">
                    <fa icon="plus" /> Add new
                </b-button>
            </nuxt-link>
        </div>
        <b-table id="table-admins" class="mt-2" bordered striped hover sticky-header :items="itemsAdmin"
            :fields="fieldsAdmins">
            <template #cell(password)="data">
                <div class="d-flex justify-content-between">
                    <div v-if="data.value.show">{{ data.value.password }}</div>
                    <div v-if="!data.value.show" class=" font-weight-bold">* * * * * *</div>
                    <div class="btn p-0">
                        <fa icon="eye" @click="onShow(data.value.id)" v-b-modal="(!isAuth) ? 'admin-auth' : ''" />
                    </div>
                </div>
            </template>

            <template #cell(action)="data">
                <div id="action" style="font-size: 1.2rem;">
                    <nuxt-link :to="'/admins/'+ data.value">
                        <fa class="text-primary" icon="pen" />
                    </nuxt-link>
                    <fa v-if="id != data.value" class="text-danger ml-3" @click="onDelete(data.value)"
                        icon="trash-can" />
                    <span class="admin-online position-relative">
                        <fa v-if="id == data.value" class="text-success ml-3" icon="user-gear" />
                        <div class="note p-1 bg-white position-absolute rounded">You are online now!</div>
                    </span>
                </div>
            </template>
        </b-table>

        <b-modal id="admin-auth" ref="modal" centered title="Enter Your Admin Password" @show="resetModal"
            @hidden="resetModal" @ok="handleOk">
            <form ref="form" @submit.stop.prevent="handleSubmit">
                <b-form-group label="Password Admin" label-for="pwAdmin-input" invalid-feedback="Name is required"
                    state="true">
                    <b-form-input id="pwAdmin-input" type="password" v-model="pw" state="true" required>
                    </b-form-input>
                </b-form-group>
            </form>
        </b-modal>

    </div>
</template>
<script>
import axios from 'axios'
import { dataMixins } from '~/assets/js/main.js'
export default {
    mixins: [dataMixins],
    props: ["itemsAdmin"],
    data() {
        return {
            id: 0,
            userName: "",
            pw: "",
            fieldsAdmins: [
                { key: 'id', label: 'ID', sortable: true, thStyle: { width: "10%" } },
                { key: 'name', label: 'UserName', sortable: true, thStyle: { width: "30%" } },
                { key: 'password', label: 'Password', sortable: false, thStyle: { width: "30%" } },
                { key: 'action', label: 'Action', sortable: false, thStyle: { width: "25%" } },
            ],
            isAuth: false
        }
    },
    created() {
        this.id = this.parseJwt(localStorage.tokenz).id
        this.userName = this.parseJwt(localStorage.tokenz).userName
    },
    methods: {
        handleOk(bvModalEvent) {
            bvModalEvent.preventDefault()
            axios.post(`${this.linkApi}api/Login/AdminLogin`, { userName: this.userName, password: this.pw }).then(res => {
                console.log(res.data)
                if (res.data.token.length > 10) {
                    this.$bvToast.toast('Authorize Successfully', {
                        toaster: 'b-toaster-bottom-right',
                        title: "Notification",
                        variant: "success",
                        solid: true,
                        autoHideDelay: 3000
                    })
                    this.isAuth = true
                } else {
                    this.$bvToast.toast('Authorize Failed', {
                        toaster: 'b-toaster-bottom-right',
                        title: "Notification",
                        variant: "danger",
                        solid: true,
                        autoHideDelay: 3000
                    })
                }
                this.$nextTick(() => {
                    this.$bvModal.hide('admin-auth')
                })
            })
        },
        resetModal() {
            this.pw = ''
        },

        onShow(id) {
            if (this.isAuth) {
                var idTemp = this.itemsAdmin.findIndex((obj => obj.password.id == id))
                this.itemsAdmin[idTemp].password.show = !this.itemsAdmin[idTemp].password.show
            }
        },
        onDelete(id) {
            this.$bvModal.msgBoxConfirm('Do You Want To Delete Admin?', {
                title: "Delete Admin",
                size: 'md',
                buttonSize: 'md',
                okVariant: 'danger',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then(value => {
                if (value) this.deleteAdmins(id)
            })
        },
        deleteAdmins(id) {
            axios.delete(`${this.linkApi}api/Admin/${id}`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    if (res.data) this.$emit('delete')
                })
        },
        parseJwt(token) {
            if (token == null) return;
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function (c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''))
            return JSON.parse(jsonPayload);
        }
    }
}
</script>
<style>
.table-admins .table {
    background-color: #fff;
    font-size: 0.8rem;
}

.table-admins #action svg {
    cursor: pointer;
}

.table-admins .admin-online .note {
    display: none;
    font-size: 0.8rem;
    width: 120px;
}

.table-admins .admin-online:hover .note {
    display: inline-block;
}

.table-admins .position-relative {
    position: sticky !important;
}

.table-admins .b-table-sticky-header {
    max-height: 500px;
}

.table-admins td {
    padding-top: 6px;
    padding-bottom: 6px;
}
</style>