<template >
    <div>
        <Title :title="title"></Title>
        <div class="p-4">
            <div class=" d-flex justify-content-left flex-wrap">
                <nuxt-link to="/users" id="card-user"
                    class="home-card d-flex align-items-center position-relative mb-5 mr-4">
                    <div class="home-card-icon d-flex align-items-center justify-content-center text-center ml-4 p-0">
                        <fa icon="user" class="" />
                    </div>
                    <div class="ml-4 mr-4">
                        <div class="mb-3">
                            <h1 class="d-inline mr-2">{{ user.total }}</h1>
                            <h5 class="d-inline">Users</h5>
                        </div>
                        <div class=" font-weight-bold">
                            <div class="text-success mb-1">
                                <h5 class="d-inline mr-1">{{ user.active }}</h5>
                                <span>Active</span>
                            </div>
                            <div class="text-danger">
                                <h5 class="d-inline mr-1">{{ user.inactive }}</h5>
                                <span>Inactive</span>
                            </div>
                        </div>
                    </div>
                    <div class="user-more position-absolute">
                        <fa icon="angle-right" />
                    </div>
                </nuxt-link>

                <nuxt-link to="/posts" id="card-post"
                    class="home-card d-flex align-items-center position-relative mb-5 mr-4">
                    <div class="home-card-icon d-flex align-items-center justify-content-center text-center ml-4 p-0">
                        <fa icon="newspaper" class="" />
                    </div>
                    <div class="ml-4 mr-4">
                        <div class="mb-3">
                            <h1 class="d-inline mr-2">{{ post.total }}</h1>
                            <h5 class="d-inline">Posts</h5>
                        </div>
                        <div class=" font-weight-bold">
                            <div class="text-success mb-1">
                                <h5 class="d-inline mr-1">{{ post.active }}</h5>
                                <span>Active</span>
                            </div>
                            <div class="text-danger">
                                <h5 class="d-inline mr-1">{{ post.inactive }}</h5>
                                <span>Inactive</span>
                            </div>
                        </div>
                    </div>
                    <div class="post-more position-absolute">
                        <fa icon="angle-right" />
                    </div>
                </nuxt-link>
                <nuxt-link to="/comments" id="card-comment"
                    class="home-card d-flex align-items-center position-relative mb-5 mr-4">
                    <div class="home-card-icon d-flex align-items-center justify-content-center text-center ml-4 p-0">
                        <fa icon="comments" class="" />
                    </div>
                    <div class="ml-4 mr-4">
                        <div class="mb-3">
                            <h1 class="d-inline mr-2">{{ comment.total }}</h1>
                            <h5 class="d-inline">Comments</h5>
                        </div>
                        <div class=" font-weight-bold">
                            <div class="text-success mb-1">
                                <h5 class="d-inline mr-1">{{ comment.active }}</h5>
                                <span>Active</span>
                            </div>
                            <div class="text-danger">
                                <h5 class="d-inline mr-1">{{ comment.inactive }}</h5>
                                <span>Inactive</span>
                            </div>
                        </div>
                    </div>
                    <div class="comment-more position-absolute">
                        <fa icon="angle-right" />
                    </div>
                </nuxt-link>
                <nuxt-link to="/universities" id="card-university"
                    class="home-card d-flex align-items-center position-relative mb-5 mr-4">
                    <div class="home-card-icon d-flex align-items-center justify-content-center text-center ml-4 p-0">
                        <fa icon="building-columns" class="" />
                    </div>
                    <div class="ml-4 mr-4">
                        <div class="mb-3">
                            <h1 class="d-inline mr-2">{{ university.total }}</h1>
                            <h5 class="d-inline">Universities</h5>
                        </div>
                        <div class=" font-weight-bold">
                            <div class="text-success mb-1">
                                <h5 class="d-inline mr-1">{{ university.active }}</h5>
                                <span>Active</span>
                            </div>
                            <div class="text-danger">
                                <h5 class="d-inline mr-1">{{ university.inactive }}</h5>
                                <span>Inactive</span>
                            </div>
                        </div>
                    </div>
                    <div class="university-more position-absolute">
                        <fa icon="angle-right" />
                    </div>
                </nuxt-link>
                <nuxt-link to="/faculties" id="card-faculty"
                    class="home-card d-flex align-items-center position-relative mb-5 mr-4">
                    <div class="home-card-icon d-flex align-items-center justify-content-center text-center ml-4 p-0">
                        <fa icon="graduation-cap" class="" />
                    </div>
                    <div class="ml-4 mr-4">
                        <div class="mb-3">
                            <h1 class="d-inline mr-2">{{ faculty.total }}</h1>
                            <h5 class="d-inline">Faculties</h5>
                        </div>
                        <div class=" font-weight-bold">
                            <div class="text-success mb-1">
                                <h5 class="d-inline mr-1">{{ faculty.active }}</h5>
                                <span>Active</span>
                            </div>
                            <div class="text-danger">
                                <h5 class="d-inline mr-1">{{ faculty.inactive }}</h5>
                                <span>Inactive</span>
                            </div>
                        </div>
                    </div>
                    <div class="faculty-more position-absolute">
                        <fa icon="angle-right" />
                    </div>
                </nuxt-link>
                <div class="home-clock d-flex align-items-center justify-content-center position-relative">
                    <div class="icon-time d-block">
                        <fa v-if="time.hour < 12" class="mr-2" icon="cloud-sun" />
                        <fa v-if="time.hour >= 12" class="mr-2" icon="cloud-moon" />
                    </div>
                    <div>
                        <span class="h1 time">{{ time.hour }}:{{ time.minute }}:{{ time.second }}</span>
                    </div>
                    <div class="line1 position-absolute">
                    </div>
                    <div class="line2 position-absolute">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Title from '~/components/Title.vue'
import axios from 'axios'
import { dataMixins } from '~/assets/js/main.js'

export default {
    data() {
        return {
            title: "Home",
            post: {
                total: 0,
                active: 0,
                inactive: 0
            },
            user: {
                total: 0,
                active: 0,
                inactive: 0
            },
            comment: {
                total: 0,
                active: 0,
                inactive: 0
            },
            university: {
                total: 0,
                active: 0,
                inactive: 0
            },
            faculty: {
                total: 0,
                active: 0,
                inactive: 0
            },
            time: {
                hour: 0,
                minute: 0,
                second: 0
            }

        }
    },
    mixins: [dataMixins],
    components: { Title },
    created() {
        setInterval(this.getNow, 1000);
        this.getPost()
        this.getUser()
        this.getComment()
        this.getUniversity()
        this.getFaculty()
    },
    methods: {
        getNow() {
            const today = new Date();
            this.time.hour = (today.getHours() < 10) ? "0" + today.getHours().toString() : today.getHours().toString()
            this.time.minute = (today.getMinutes() < 10) ? "0" + today.getMinutes().toString() : today.getMinutes().toString()
            this.time.second = (today.getSeconds() < 10) ? "0" + today.getSeconds().toString() : today.getSeconds().toString()
        },
        getPost() {
            axios.get(`${this.linkApi}api/Admin/SearchPost?status=0&universityId=0&facultyId=0&userId=0&subject=`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    this.post.total = res.data.length
                    res.data.forEach(p => {
                        console.log(p)
                        if (p.post.status == 1) this.post.active++;
                        else if (p.post.status == 2) this.post.inactive++;
                    })
                })
        },
        getUser() {
            axios.get(`${this.linkApi}api/Admin/SearchUser?status=0&universityId=0&facultyId=0&fullName=`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    this.user.total = res.data.length
                    res.data.forEach(p => {
                        if (p.user.status == 1) this.user.active++;
                        else if (p.user.status == 2) this.user.inactive++;
                    })
                })
        },
        getComment() {
            axios.get(`${this.linkApi}api/Admin/SearchComment?status=0&userId=0&postId=0&content=`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    this.comment.total = res.data.length
                    res.data.forEach(p => {
                        if (p.comment.status == 1) this.comment.active++;
                        else if (p.comment.status == 2) this.comment.inactive++;
                    })
                })
        },
        getUniversity() {
            axios.get(`${this.linkApi}api/Admin/SearchUniversity?status=0&university=`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    this.university.total = res.data.length
                    res.data.forEach(p => {
                        if (p.university.status == 1) this.university.active++;
                        else if (p.university.status == 2) this.university.inactive++;
                    })
                })
        },
        getFaculty() {
            axios.get(`${this.linkApi}api/Admin/SearchFaculty?status=0&universityId=0&faculty=`,
                { headers: { "Authorization": `Bearer ${localStorage.tokenz}` } }).then(res => {
                    this.faculty.total = res.data.length
                    res.data.forEach(p => {
                        if (p.faculty.status == 1) this.faculty.active++;
                        else if (p.faculty.status == 2) this.faculty.inactive++;
                    })
                })
        }
    }
}
</script>
<style>

.home-clock .icon-time{
    font-size: 2rem;
    color: #27ff35;
}
.line1 {
    top: 72px;
    height: 2px;
    background-color: #27ff35;
    box-shadow: 0 0 5px #00ff15;
    animation: spin1 1s linear infinite;
}

.line2 {
    top: 130px;
    height: 2px;
    background-color: #27ff35;
    box-shadow: 0 0 5px #00ff15;
    animation: spin2 1s linear infinite;
}

@keyframes spin1 {
    0% {
        width: 20px;
        left: 235px;
    }
    50%{
        width: 20px;
        left: 85px;
    }
    100%{
        width: 20px;
        left: 235px;
    }
}

@keyframes spin2 {
    0% {
        width: 20px;
        left: 85px;
    }
    50%{
        width: 20px;
        left: 235px;
    }
    100%{
        width: 20px;
        left: 85px;
    }
}

@keyframes hightlight{
    0% {
        text-shadow: 0 0 10px #00ff15;
    }
    50%{
        text-shadow: 0 0 0 #000000;
    }
    100%{
        text-shadow: 0 0 10px #00ff15;;
    }
}

.time {
    color: #27ff35;
    animation: hightlight 1s linear infinite;
    font-family: cursive;
}

.home-clock {
    width: 330px;
    height: 200px;
    border-radius: 20px;
    background-color: #000;
}

.home-card {
    width: 330px;
    height: 200px;
    border-radius: 20px;
    text-decoration: none !important;
}

.home-card:hover .home-card-icon {
    font-size: 3rem;
    transition-duration: 0.3s;
    background-color: #fff !important;
}

.home-card:hover {
    transition-duration: 0.3s;
    background-color: #fff !important;
}

.home-card-icon {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    border-radius: 50px;
}

/* User  */
#card-user {
    box-shadow: 5px 5px 20px #e2ffe9;
    background-color: #fbfffc;
    border: 2px solid #a2d8af;
    color: #28a745;
}

#card-user:hover {
    box-shadow: 20px 20px 20px #70e790;
    transition-duration: 0.3s;
}

#card-user .home-card-icon {
    color: #28a745;
    background-color: #e9ffee;
    border: 3px solid #28a745;
}

.user-more {
    display: none;
    color: #28a745;
    font-size: 1.5rem;
}

#card-user:hover .user-more {
    display: block;
    right: 20px;
}

/* Post */
#card-post {
    box-shadow: 5px 5px 20px #ecd8ff;
    background-color: #fdfaff;
    border: 2px solid #b69acf;
    color: #6c0ac7;
}

#card-post:hover {
    box-shadow: 20px 20px 20px #be7dff;
    transition-duration: 0.3s;
}

#card-post .home-card-icon {
    color: #6c0ac7;
    background-color: #f2e4ff;
    border: 3px solid #6c0ac7;
}

.post-more {
    display: none;
    color: #6c0ac7;
    font-size: 1.5rem;
}

#card-post:hover .post-more {
    display: block;
    right: 20px;
}

/* Comment */
#card-comment {
    box-shadow: 5px 5px 20px #dafaff;
    background-color: #f8feff;
    border: 2px solid #93c4cd;
    color: #17a2b8;
}

#card-comment:hover {
    box-shadow: 20px 20px 20px #6dd1e1;
    transition-duration: 0.3s;
}

#card-comment .home-card-icon {
    color: #17a2b8;
    background-color: #e5fbff;
    border: 3px solid #17a2b8;
}

.comment-more {
    display: none;
    color: #17a2b8;
    font-size: 1.5rem;
}

#card-comment:hover .comment-more {
    display: block;
    right: 20px;
}

/* University */
#card-university {
    box-shadow: 5px 5px 20px #fff5d7;
    background-color: #fffdf8;
    border: 2px solid #eee0b3;
    color: #ffc107;
}

#card-university:hover {
    box-shadow: 20px 20px 20px #ffde7a;
    transition-duration: 0.3s;
}

#card-university .home-card-icon {
    color: #ffc107;
    background-color: #fffae9;
    border: 3px solid #ffc107;
}

.university-more {
    display: none;
    color: #ffc107;
    font-size: 1.5rem;
}

#card-university:hover .university-more {
    display: block;
    right: 20px;
}

/* Faculty */
#card-faculty {
    box-shadow: 5px 5px 20px #fbe2e5;
    background-color: #fff9fa;
    border: 2px solid #ca7f87;
    color: #dc3545;
}

#card-faculty:hover {
    box-shadow: 20px 20px 20px #ff7d88;
    transition-duration: 0.3s;
}

#card-faculty .home-card-icon {
    color: #dc3545;
    background-color: #ffe5e7;
    border: 3px solid #dc3545;
}

.faculty-more {
    display: none;
    color: #dc3545;
    font-size: 1.5rem;
}

#card-faculty:hover .faculty-more {
    display: block;
    right: 20px;
}
</style>