<template>
  <div class="edit-university">
    <b-card>
      <b-card-header class="bg-white pl-4 pr-4">
        <h5 class="mb-0">Edit University</h5>
      </b-card-header>
      <b-card-body class="pl-4 mt-3 mb-3 pr-4">
        <b-form class="d-flex justify-content-center">
          <div class="mr-5 d-flex justify-content-center align-items-center">
            <b-avatar :src="linkAva" size="12rem"></b-avatar>
          </div>
          <div class="ml-5">
            <b-form-group label-for="id" description="University ID.">
              <b-input-group>
                <b-input-group-prepend is-text>
                  <span class="font-weight-bold">ID</span>
                </b-input-group-prepend>
                <b-form-input id="university" v-model="id" type="number" disabled placeholder="University ID" />
              </b-input-group>
            </b-form-group>

            <b-form-group label-for="university" description="Set university name.">
              <b-input-group>
                <b-input-group-prepend is-text>
                  <fa icon="building-columns" />
                </b-input-group-prepend>
                <b-form-input id="university" :disabled="isEdited" v-model="university.name" placeholder="University" />
              </b-input-group>
            </b-form-group>

            <b-form-group label-for="address" description="Set university address.">
              <b-input-group>
                <b-input-group-prepend is-text>
                  <fa icon="location-dot" />
                </b-input-group-prepend>
                <b-form-input id="address" :disabled="isEdited" v-model="university.address" placeholder="Address" />
              </b-input-group>
            </b-form-group>
            <b-form-group>
              <b-form-file @change="uploadImage" :disabled="isEdited" accept="image/jpeg, image/png" plain>
              </b-form-file>
            </b-form-group>
          </div>
        </b-form>
      </b-card-body>
      <b-card-footer class="bg-white">
        <div class="d-flex justify-content-center">
          <b-button :disabled="!isEdited" variant="outline-primary" @click="onEdit" class="mr-2">
            <fa class="mr-2 p-0" icon="pen" /> Edit
          </b-button>
          <b-button :disabled="isEdited" variant="outline-secondary" @click="onCancel" class="mr-2">
            <fa class="mr-2 p-0" icon="ban" /> Cancel
          </b-button>
          <b-button :disabled="isEdited" @click="onSave" variant="outline-success" class="mr-2">
            <fa class="mr-2 p-0" icon="floppy-disk" /> Save
          </b-button>
          <b-button v-if="status == 2" @click="onEnable" variant="warning" class="mr-2">
            <fa class="mr-2 p-0" icon="eye" /> Enable
          </b-button>
          <b-button v-if="status == 1" @click="onDisable" variant="warning" class="mr-2">
            <fa class="mr-2 p-0" icon="eye-slash" /> Diasble
          </b-button>
          <b-button @click="onDelete" variant="danger" class="">
            <fa class="mr-2 p-0" icon="trash-can" /> Delete
          </b-button>
        </div>
      </b-card-footer>
    </b-card>
  </div>
</template>
<script>
import axios from "axios";
import { dataMixins } from "~/assets/js/main.js";
import UniversityEventBus from "~/pages/universities/js/UniversityEventBus";
export default {
  mixins: [dataMixins],
  data() {
    return {
      id: this.$route.params.id,
      avatar: "",
      name: "",
      address: "",
      status: 0,
      university: {},
      isEdited: true,
      file: null,
      linkAva: "",
      linkAvaz: "",
      isChangeAva: false,
    };
  },
  created() {
    this.getUniversity();
  },
  methods: {
    uploadImage(e) {
      this.isChangeAva = true;
      this.file = e.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(this.file);
      reader.onload = (e) => {
        this.avatar = e.target.result;
        this.linkAva = this.avatar;
      };
      this.file = e.target.files[0];
    },
    getUniversity() {
      axios
        .get(`${this.linkApi}api/Admin/UniversityResponseById?id=${this.id}`, {
          headers: { Authorization: `Bearer ${localStorage.tokenz}` },
        })
        .then((res) => {
          this.avatar = res.data.university.avatar;
          this.linkAva = this.linkApi + this.avatar;
          this.linkAvaz = this.linkApi + this.avatar;
          this.name = res.data.university.name;
          this.address = res.data.university.address;
          this.status = res.data.university.status;
          this.university = {
            name: res.data.university.name,
            address: res.data.university.address,
          };
        });
    },
    onEdit() {
      this.isEdited = !this.isEdited;
    },
    onCancel() {
      this.isChangeAva = false;
      this.linkAva = this.linkAvaz;
      this.isEdited = !this.isEdited;
      this.university = {
        name: this.name,
        address: this.address,
      };
    },
    onSave() {
      this.$bvModal
        .msgBoxConfirm("Do You Want To Save University?", {
          title: "Save University",
          size: "md",
          buttonSize: "md",
          okVariant: "success",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) this.save();
        });
    },
    save() {
      axios
        .put(`${this.linkApi}api/Universities?id=${this.id}`, this.university, {
          headers: { Authorization: `Bearer ${localStorage.tokenz}` },
        })
        .then((res) => {
          this.isEdited = !this.isEdited;
          if (this.isChangeAva) {
            console.log("change true");
            let formData = new FormData();
            formData.append("avatar", this.file, this.file.name);
            axios
              .put(
                `${this.linkApi}api/UniversitiesControllers/NewAvatar?id=${this.id}`,
                formData,
                { headers: { Authorization: `Bearer ${localStorage.tokenz}` } }
              )
              .then((r) => {
                console.log(r);
              });
          }
          this.getUniversity();

          this.$bvToast.toast("Save University Successfully", {
            toaster: "b-toaster-bottom-right",
            title: "Notification",
            variant: "success",
            solid: true,
            autoHideDelay: 3000,
          });
        });
    },
    onDelete() {
      this.$bvModal
        .msgBoxConfirm("Do You Want To Delete University?", {
          title: "Delete University",
          size: "md",
          buttonSize: "md",
          okVariant: "danger",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) this.delete();
        });
    },
    delete() {
      axios
        .delete(`${this.linkApi}api/UniversitiesControllers/id?id=${this.id}`, {
          headers: { Authorization: `Bearer ${localStorage.tokenz}` },
        })
        .then((res) => {
          if (res.data) {
            UniversityEventBus.$emit("deleteSuccess", "delete");
            this.$router.push("/universities");
          }
        });
    },
    onEnable() {
      this.$bvModal
        .msgBoxConfirm("Do You Want To Enable University?", {
          title: "Enable University",
          size: "md",
          buttonSize: "md",
          okVariant: "warning",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) this.enable();
        });
    },
    enable() {
      axios
        .put(
          `${this.linkApi}api/UniversitiesControllers/Enable?id=${this.id}`,
          { headers: { Authorization: `Bearer ${localStorage.tokenz}` } }
        )
        .then((res) => {
          if (res.data) {
            this.$bvToast.toast("Enable University Successfully", {
              toaster: "b-toaster-bottom-right",
              title: "Notification",
              variant: "warning",
              solid: true,
              autoHideDelay: 3000,
            });
            this.getUniversity();
          }
        });
    },
    onDisable() {
      this.$bvModal
        .msgBoxConfirm("Do You Want To Disable University?", {
          title: "Disable University",
          size: "md",
          buttonSize: "md",
          okVariant: "warning",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) this.disable();
        });
    },
    disable() {
      axios
        .put(
          `${this.linkApi}api/UniversitiesControllers/Disable?id=${this.id}`,
          { headers: { Authorization: `Bearer ${localStorage.tokenz}` } }
        )
        .then((res) => {
          if (res.data) {
            this.$bvToast.toast("Disable University Successfully", {
              toaster: "b-toaster-bottom-right",
              title: "Notification",
              variant: "warning",
              solid: true,
              autoHideDelay: 3000,
            });
            this.getUniversity();
          }
        });
    },
  },
};
</script>
<style>
.edit-university .card-body {
  padding: 0;
}

.edit-university .input-group {
  width: 30rem;
}
</style>