<template>
  <div class="form-search-universities">
    <label for="status">Status :</label>
    <b-form-group class="d-inline-block ml-3" v-slot="{ ariaDescribedby }">
      <b-form-radio-group id="status" v-model="keySearch.status" @change="onChangeStatus" :options="optionsStatus"
        :aria-describedby="ariaDescribedby" name="status"></b-form-radio-group>
    </b-form-group>
    <b-form>
      <div class="mt-2 row">
        <b-form-group label-for="university" class="d-inline-block col-4" description="Search university.">
          <b-input-group class="w-100">
            <b-input-group-prepend is-text>
              <fa icon="building-columns" />
            </b-input-group-prepend>
            <b-form-input id="university" v-model="keySearch.university" placeholder="University" />
          </b-input-group>
        </b-form-group>
        <b-form-group class="d-inline-block align-top" description=" ">
          <b-button @click="onSearch" variant="primary" class="ml-4 d-inline-block pl-4 pr-4">
            <fa icon="magnifying-glass" /> Search
          </b-button>
          <b-button variant="outline-primary" type="reset" @click="onClear" class="ml-3 d-inline-block pl-3 pr-3">
            <fa icon="eraser" /> Clear
          </b-button>
        </b-form-group>
      </div>
    </b-form>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: ["keySearch"],
  data() {
    return {
      optionsStatus: [
        { text: "All", value: 0 },
        { text: "Active", value: 1 },
        { text: "Inactive", value: 2 },
      ],
    };
  },
  created() { },
  methods: {
    onClear() {
      this.keySearch.university = "";
    },
    onChangeStatus() {
      this.onSearch();
    },
    onSearch() {
      this.$emit("on-Search");
    },
  },
};
</script>
<style>
.form-search-universities .input-group {
  width: 20rem;
}
</style>