<template>
  <div>
    <b-card class="create-university">
      <b-card-header class="pl-4 pr-4 bg-white">
        <h5 class="mb-0">Create University</h5>
      </b-card-header>
      <b-card-body class="pl-4 mt-4 mb-4 pr-4">
        <b-form class="d-flex justify-content-center">
          <div class="d-flex justify-content-center align-items-center mb-3 mr-5">
            <b-avatar class="" :src="avatar" size="10rem"></b-avatar>
          </div>
          <div class="ml-5">
            <b-form-group>
              <b-form-file @change="uploadImage" accept="image/jpeg, image/png" plain>
              </b-form-file>
            </b-form-group>
            <b-form-group label-for="university" description="University Name.">
              <b-input-group>
                <b-input-group-prepend is-text>
                  <fa icon="building-columns" />
                </b-input-group-prepend>
                <b-form-input id="university" v-model="university.name" placeholder="University" />
              </b-input-group>
            </b-form-group>
            <b-form-group label-for="address" description="Address.">
              <b-input-group>
                <b-input-group-prepend is-text>
                  <fa icon="location-dot" />
                </b-input-group-prepend>
                <b-form-input id="address" v-model="university.address" placeholder="Address" />
              </b-input-group>
            </b-form-group>
          </div>
        </b-form>
      </b-card-body>
      <b-card-footer class="bg-white">
        <div class="d-flex justify-content-center">
          <b-button @click.prevent="onSubmit" variant="success" class="mr-1">
            <fa class="mr-2 p-0" icon="cloud-arrow-up" /> Submit
          </b-button>
          <b-button @click="onCLear" variant="outline-primary" type="reset" class="ml-1">
            <fa class="mr-2 p-0" icon="eraser" /> Clear
          </b-button>
        </div>
      </b-card-footer>
    </b-card>
  </div>
</template>
<script>
import axios from "axios";
import { dataMixins } from "~/assets/js/main.js";
import UniversityEventBus from "~/pages/universities/js/UniversityEventBus";

export default {
  mixins: [dataMixins],
  data() {
    return {
      id: 0,
      university: {
        name: "",
        address: "",
      },
      avatar: null,
      file: null,
    };
  },
  created() { },
  methods: {
    uploadImage(e) {
      this.file = e.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(this.file);
      reader.onload = (e) => {
        this.avatar = e.target.result;
      };
      this.file = e.target.files[0];
    },
    onSubmit() {
      if (
        this.university.name.trim() == "" ||
        this.university.address.trim() == ""
      ) {
        this.$bvToast.toast("Please enter Name and Address!", {
          toaster: "b-toaster-bottom-right",
          title: "Notification",
          variant: "danger",
          solid: true,
          autoHideDelay: 3000,
        });
        return;
      }

      this.$bvModal
        .msgBoxConfirm("Do You Want To Create University?", {
          title: "Create University",
          size: "md",
          buttonSize: "md",
          okVariant: "success",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) this.submit();
        });
    },
    submit() {
      axios
        .post(`${this.linkApi}api/Universities`, this.university, {
          headers: { Authorization: `Bearer ${localStorage.tokenz}` }
        })
        .then((res) => {
          let id = res.data.id;
          if (id != 0) {
            let formData = new FormData();
            formData.append("avatar", this.file, this.file.name);
            axios
              .put(
                `${this.linkApi}api/Universities/NewAvatar?id=${res.data.id}`,
                formData,
                { headers: { Authorization: `Bearer ${localStorage.tokenz}` } }
              )
              .then((r) => {
                console.log(r);
                UniversityEventBus.$emit("submitSuccess", "truedhfgh");
                this.$router.push("/universities");
              });
          }
        });
    },
    onCLear() {
      this.university.name = "";
      this.university.address = "";
      (this.avatar = null), (this.file = null);
    },
  },
};
</script>
<style>
.create-university .card-body {
  padding: 0;
}

.create-university .input-group {
  width: 30rem;
}
</style>