<template>
  <div class="table-universities">
    <div class="d-flex justify-content-between">
      <span>Totals: {{ itemsUniversity.length }} universities.</span>
      <nuxt-link to="/universities/create">
        <b-button class="pr-2 pl-2 pt-1 pb-1" variant="primary">
          <fa icon="plus" /> Add new
        </b-button>
      </nuxt-link>
    </div>
    <b-table id="table-universities" class="mt-2" bordered striped hover sticky-header :items="itemsUniversity"
      :fields="fieldsUniversities">
      <template #cell(avatar)="data">
        <b-avatar :src="linkApi + data.value" size="2rem"></b-avatar>
      </template>
      <template #cell(id)="data">
        <div class="font-weight-bold">{{ data.value }}</div>
      </template>

      <template #cell(active)="data">
        <div id="active" style="font-size: 1.2rem" class="text-center">
          <fa v-if="data.value.status == 1" @click="onDisable(data.value.id)" class="text-success"
            icon="circle-check" />
          <fa v-if="data.value.status != 1" @click="onEnable(data.value.id)" class="text-danger" icon="circle-xmark" />
        </div>
      </template>
      <template #cell(action)="data">
        <div id="action" style="font-size: 1.2rem">
          <nuxt-link :to="'/universities/' + data.value.university.id">
            <fa class="text-primary" icon="pen" />
          </nuxt-link>
          <nuxt-link :to="'/faculties?university=' + data.value.university.id">
            <fa class="text-info ml-2" icon="graduation-cap" />
          </nuxt-link>
          <fa class="text-danger ml-2" @click="onDelete(data.value.university.id)" icon="trash-can" />
        </div>
      </template>
    </b-table>
  </div>
</template>
<script>
import axios from "axios";
import EventBus from "~/assets/js/EventBus";
import { dataMixins } from "~/assets/js/main.js";

export default {
  mixins: [dataMixins],
  props: ["itemsUniversity"],
  data() {
    return {
      fieldsUniversities: [
        {
          key: "avatar",
          label: "Avatar",
          sortable: false,
          thStyle: { width: "5%" },
        },
        { key: "id", label: "ID", sortable: true, thStyle: { width: "5%" } },
        {
          key: "name",
          label: "Name",
          sortable: true,
          thStyle: { width: "28%" },
        },
        {
          key: "address",
          label: "Address",
          sortable: true,
          thStyle: { width: "22%" },
        },
        {
          key: "faculties",
          label: "Faculties",
          sortable: true,
          thStyle: { width: "7%" },
        },
        {
          key: "posts",
          label: "Posts",
          sortable: true,
          thStyle: { width: "5%" },
        },
        {
          key: "users",
          label: "Users",
          sortable: true,
          thStyle: { width: "5%" },
        },
        { key: "active", label: "Active", thStyle: { width: "5%" } },
        { key: "action", label: "Action", thStyle: { width: "15%" } },
      ],
    };
  },
  created() { },
  methods: {
    onDisable(id) {
      this.$bvModal
        .msgBoxConfirm("Do You Want To Disable University?", {
          title: "Disable University",
          size: "md",
          buttonSize: "md",
          okVariant: "warning",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) this.disableUniversity(id);
        });
    },
    onEnable(id) {
      this.$bvModal
        .msgBoxConfirm("Do You Want To Enable University?", {
          title: "Enable University",
          size: "md",
          buttonSize: "md",
          okVariant: "warning",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) this.enableUniversity(id);
        });
    },
    onDelete(id) {
      this.$bvModal
        .msgBoxConfirm("Do You Want To Delete University?", {
          title: "Delete University",
          size: "md",
          buttonSize: "md",
          okVariant: "danger",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) this.deleteUniversity(id);
        });
    },
    disableUniversity(id) {
      axios
        .put(`${this.linkApi}api/Universities/Disable?id=${id}`, {
          headers: { Authorization: `Bearer ${localStorage.tokenz}` },
        })
        .then((res) => {
          if (res.data) this.$emit("disable");
        });
    },
    enableUniversity(id) {
      axios
        .put(`${this.linkApi}api/Universities/Enable?id=${id}`, {
          headers: { Authorization: `Bearer ${localStorage.tokenz}` },
        })
        .then((res) => {
          if (res.data) this.$emit("enable");
        });
    },
    deleteUniversity(id) {
      axios
        .delete(`${this.linkApi}api/Universities/id?id=${id}`, {
          headers: { Authorization: `Bearer ${localStorage.tokenz}` },
        })
        .then((res) => {
          if (res.data) this.$emit("delete");
        });
    },
  },
};
</script>
<style>
.table-universities .table {
  background-color: #fff;
  font-size: 0.8rem;
}

.table-universities #action svg {
  cursor: pointer;
}

.table-universities #active svg {
  cursor: pointer;
}

.table-universities .position-relative {
  position: sticky !important;
}

.table-universities .b-table-sticky-header {
  max-height: 500px;
}

.table-universities td {
  padding-top: 6px;
  padding-bottom: 6px;
}
</style>