<template>
  <div class="default-layout container-fluid">
    <div class="row">
      <AppMenu class="col-2 p-0"></AppMenu>
      <div class="col p-0">
        <AppHeader></AppHeader>
        <div class="body-page pb-4">
          <nuxt />
        </div>
        <AppFooter></AppFooter>
      </div>
    </div>
  </div>
</template>

<script>
import AppMenu from "~/components/AppMenu.vue";
import AppFooter from "~/components/AppFooter.vue";
import AppHeader from "~/components/AppHeader.vue";

export default {
  components: {
    AppHeader,
    AppMenu,
    AppFooter,
  },
  created(){
    if (localStorage.getItem("tokenz") === null){
      localStorage.setItem("back", 1)
      localStorage.setItem("path", this.$route.path)
      this.$router.push('/login')
    } 
  }
};
</script>
<style>
.body-page {
  min-height: 85vh;
  background-color: #f4f4f4;
}
</style>
