<template>
    <div class="body-login d-flex align-items-center justify-content-center flex-column">
        <nuxt/>
    </div>
</template>
<script>
export default {
   
}
</script>
<style>
    .body-login {
        background: url('https://images.pexels.com/photos/3184357/pexels-photo-3184357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        min-height: 100vh;
    }

    @media only screen and (max-width: 940px){
        .body-login{
            background-size: auto 100%;
            
        }
    }
</style>
